@-moz-document domain("accounts.firefox.com") {
  body {
    filter: invert(1) !important;
  }

  html {
    background-color: #000 !important;
    height: 100%;
  }

  .hidden {
    display: none !important;
  }
}
