@-moz-document domain("reddit.com") {
  .thumbnail.invisible-when-pinned.self.may-blank {
    filter: invert(1) contrast(2) !important;
  }

  .comments-page .usertext-edit div textarea {
    background: #000 !important;
    color: #fff !important;
    border: 2px solid #212121 !important;
    opacity: 1 !important;
  }

  .comments-page .usertext-edit div textarea:focus {
    background: #000 !important;
    opacity: 1;
    border-color: red !important;
    color: #fff !important;
  }
}
