@-moz-document url(chrome://browser/content/places/places.xhtml)
{
  :root {
    scrollbar-width: thin !important;
    scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
    --in-content-page-background: #000 !important;
    --organizer-bordeR-color-selected: #181818 !important;
  }

  :root #back-button {
    list-style-image: url("chrome://browser/skin/back.svg") !important;
    transform: scale(1) !important;
    margin-top: 0 !important;
  }

  :root #forward-button {
    list-style-image: url("chrome://browser/skin/forward.svg") !important;
    transform: scale(1) !important;
    margin-top: 0 !important;
  }

  #placesMenu {
    font-family: Fira Sans !important;
  }

  /* ============== Popups ============== */
  menupopup,
  menupopup menuitem,
  menupopup menu {
    -moz-appearance: none !important;
    background-color: #000 !important;
  }

  menupopup,
  panel[type="autocomplete-richlistbox"] {
    -moz-window-shadow: none !important;
    background: 0 !important;
    border: 0 !important;
    color: #e4e4e4 !important;
    box-sizing: content-box !important;
    width: auto !important;
  }

  menupopup {
    padding: 11px 14px 18px !important;
    margin: -19px -14px 0 !important;
  }

  menuseparator {
    appearance: none;
    border-top: 1px solid #181818 !important;
    border-bottom: none;
    padding: 0;
    margin: 2px 1em;
  }

  menupopup menuitem,
  menupopup menu,
  .autocomplete-richlistitem {
    height: 30px !important;
    padding: 0 8px !important;
    border: 0 !important;
    background: #000 !important;
    color: #fff !important;
    fill-opacity: initial !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 1rem !important;
    font-family: "Fira Sans" !important;
  }

  menupopup menuitem:hover:not([disabled="true"]),
  menupopup menu:hover:not([disabled="true"]),
  .autocomplete-richlistitem:hover:not([disabled="true"]):not([selected="true"]) {
    background-color: #181818 !important;
  }

  menupopup menuitem:hover:active:not([disabled="true"]),
  menupopup menu:hover:active:not([disabled="true"]),
  .autocomplete-richlistitem:hover:active:not([disabled="true"]),
  .autocomplete-richlistitem[selected="true"] {
    background-color: #181818 !important;
  }

  menupopup menuitem[disabled="true"],
  menupopup menu[disabled="true"],
  .autocomplete-richlistitem[disabled="true"] {
    opacity: 0.5 !important;
  }

  scrollbox[orient="vertical"] {
    overflow-y: auto !important;
  }

  .menupopup-scrollbutton {
    display: none !important;
  }

  .menu-iconic-left {
    -moz-appearance: none !important;
  }

  .subviewbutton:not(:-moz-any([image], [targetURI], .bookmark-item))
    > .menu-iconic-left {
    display: none;
  }

  .menu-iconic-icon {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
  }

  .menu-text {
    -moz-appearance: none !important;
    padding: 0 !important;
  }

  .menu-right {
    -moz-appearance: none !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
    margin-inline-end: 0 !important;
    margin-inline-start: 16px !important;
  }

  #context-navigation {
    background: 0 !important;
    -moz-box-flex: 1;
    -moz-box-pack: center;
  }

  #context-navigation > .menuitem-iconic {
    background: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 44px !important;
    transform: scale(1.3) !important;
  }

  #context-navigation .menu-iconic-left {
    border-radius: 50% !important;
    padding: 8px !important;
  }

  #context-navigation .menu-iconic-icon {
    padding: 0 !important;
    margin: 0 !important;
    width: 16px !important;
    height: 16px !important;
  }

  #context-navigation .menuitem-iconic:hover:not([disabled]) .menu-iconic-left {
    background-color: #181818 !important;
  }

  #context-navigation
    .menuitem-iconic:hover:active:not([disabled])
    .menu-iconic-left {
    background-color: #181818 !important;
  }

  panel[type="autocomplete-richlistbox"],
  .bookmark-item:not(menu) > menupopup[placespopup] {
    padding: 1px 14px 18px !important;
    margin: 0 -14px 0 !important;
  }

  .popup-internal-box,
  panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
  #PopupSearchAutoComplete > *,
  .menupopup-arrowscrollbox {
    background: #000 !important;
  }

  .popup-internal-box,
  panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
  .menupopup-arrowscrollbox {
    margin: 8px 0 !important;
    padding: 8px 0 !important;
    border-radius: 4px !important;
    color: #fff !important;
  }

  .popup-internal-box,
  .menupopup-arrowscrollbox {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  }

  #PopupSearchAutoComplete > * {
    border-radius: 0 !important;
  }

  #PopupSearchAutoComplete > :first-child {
    border-radius: 4px 4px 0 0 !important;
  }

  #PopupSearchAutoComplete > :last-child {
    border-radius: 0 0 4px 4px !important;
  }

  panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px -0px rgba(0, 0, 0, 0.14), 0 3px 14px -5px rgba(0, 0, 0, 0.12) !important;
  }

  /* ============== Menus ============== */

  .tree-bodybox {
    background: #000 !important;
  }

  /* These change top bar background color */
  #placesToolbar {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
  }

  /* These change the lists background color */
  #placesView
    #placesView .scrollbox-innerbox,
    #infoPane,
    #placesList,
    #placeContent,
    /* This one changes the urlbar star bookmarking folder tree backgrund color */
    #editBMPanel_folderTree {
    -moz-appearance: none !important;
    background: #181818 !important;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
    min-width: 1px !important;
  }

  /* These change the list header background and text colors */
  #placeContent treecol {
    -moz-appearance: none !important;
    background: #000 !important;
    padding: 0px !important;
    color: #fff !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
  }

  #placeContent treecol:hover {
    -moz-appearance: none !important;
    background: #000 !important;
    color: #fff !important;
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
  }

  /* This changes the right border on the left list panel */
  #placesView > splitter {
    border-inline-end: 0px !important;
  }

  /* These change the odd rows of the lists */
  #placeContent tree,
  #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(odd),
  #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
    background-color: #000 !important;
  }

  #placeContent
    treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
    background-color: #000 !important;
  }

  #placeContent treechildren::-moz-tree-cell {
    border-right: 0px dotted rgba(0, 0, 0, 0.4) !important;
  }

  #placeContent > splitter {
    border: 0px solid red !important;
  }

  #placeContent tree,
  #placeContent treechildren::-moz-tree-row(selected) {
    background-color: #000 !important;
    border: 0px !important;
    outline: 0px !important;
  }

  #placesList tree,
  #placesList treechildren::-moz-tree-row(selected) {
    background-color: #000 !important;
    border: 0px !important;
    outline: 0px !important;
  }

  /* This changes the forward and back buttons opacity when disabled */
  #placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
    opacity: 0.25 !important;
  }

  /* This changes the forward and back buttons color */
  #back-button > .toolbarbutton-icon,
  #forward-button > .toolbarbutton-icon {
    fill: #fff !important;
    opacity: 1 !important;
  }

  /* This deletes the leftover border when clicking one of the top buttons */
  #placesMenu > menu {
    border: none !important;
  }

  /* This changes the text color of the "clear downloads" button */
  #clearDownloadsButton {
    color: #fff !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  #clearDownloadsButton[disabled] {
    color: #000 !important;
  }

  /* This themes the search box */
  #searchFilter {
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important;
    border: 0px !important;
    background-color: #000 !important;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  /* This themes the search box on hover */
  #searchFilter[focused="true"] {
    background-color: #181818 !important;
    color: #fff !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  /* This themes the information box on the lower part of the library menu */
  #detailsDeck {
    background-color: #000 !important;
    color: #fff !important;
    border-top: 0px solid #000 !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  #detailsPane {
    background-color: #000 !important;
    color: #fff !important;
    border-top: 0px solid #000 !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  treechildren {
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
    margin-top: 5px !important;
    background-color: #000 !important;
  }

  treechildren:hover {
    background-color: #000 !important;
  }

  .downloadTarget {
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
    margin-top: -10px;
    -moz-appearance: none !important;
  }

  #downloadsRichListBox {
    background: #000 !important;
  }

  .downloadButton > .button-box {
    display: none !important;
  }

  .downloadProgress {
    height: 3px !important;
    background-color: blue !important;
    border: 0px !important;
  }

  .downloadProgress:not([value="0"])::-moz-progress-bar {
    margin: 0px !important;
    height: 3px !important;
  }

  .downloadProgress::-moz-progress-bar {
    background-color: red !important;
  }

  .downloadProgress[paused]::-moz-progress-bar {
    background-color: #404040;
  }

  /* This changes the text boxes inside the library bottom information box */
  #infoBox textbox,
  #infoBox listbox {
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important;
    border: 0px !important;
    background-color: #000 !important;
    color: #fff !important;
  }
  /* A fix for bookmark preferences... so that some boxes won't appear brighter than others */
  #bookmarkproperties #editBMPanel_namePicker,
  #bookmarkproperties #editBMPanel_tagsField,
  #bookmarkproperties #editBMPanel_tagsSelector {
    background-color: #000 !important;
  }

  /* This changes the same text boxes on hover */
  #infoBox textbox[focused="true"],
  #infoBox listbox[focused="true"] {
    background-color: #181818 !important;
    color: #fff !important;
  }

  .autocomplete-richlistbox > richlistitem {
    background-color: #181818 !important;
    color: #fff !important;
  }

  menuitem#openAllPrivate.menuitem-iconic.privatetab-icon
    > label.menu-iconic-text {
    margin-left: -52px !important;
  }

  #places input {
    border: 0px !important;
  }

  #placeContentColumns {
    height: 25px !important;
    font-variant-caps: petite-caps !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
    text-align: center !important;
  }

  #placesToolbar {
    background-color: var(--organizer-background-secondary-color);
    color: var(--organizer-text-primary-color);
    border: 0px !important;
  }

  #contentView treecol {
    border-inline-end: 0px solid var(--organizer-border-color) !important;
  }

  #keyword-field-info {
    display: none !important;
  }

  #tags-field-info {
    display: none !important;
  }
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*++++++ Dark library, page-info and bookmark-properties +++++*/

/*https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/dark_additional_windows.css */

/* If you are going to open Library in the (places.xhtml) in a tab then this file should also be imported in userContent.css */

@-moz-document url(chrome://global/content/commonDialog.xhtml),
  url("chrome://mozapps/content/handling/dialog.xhtml")
{
  #placesToolbox,
  #placesView,
  #placesToolbar,
  #main-window,
  #topBar,
  dialog,
  tree {
    -moz-appearance: none !important;
    background-color: rgb(12, 12, 12) !important;
    color: rgb(249, 249, 250) !important;
  }

  #placesToolbar,
  tree {
    background: transparent !important;
  }
  search-textbox,
  #searchFilter,
  menulist,
  input,
  textbox,
  richlistbox,
  treecol,
  button,
  menu,
  #permList {
    -moz-appearance: none !important;
    color: inherit !important;
  }

  menulist {
    border: 1px solid graytext;
    padding-inline-end: 4px;
  }
  menulist dropmarker {
    filter: invert(1);
  }
  menulist:hover {
    border-color: highlight;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menubar-left {
    fill: currentColor;
    -moz-context-properties: fill;
  }

  #searchFilter,
  search-textbox,
  input,
  textbox,
  richlistbox {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  search-textbox > input,
  #searchFilter > input,
  input[readonly] {
    background-color: transparent !important;
  }

  treecol:not([hideheader]) {
    height: 24px;
  }
  treecol:hover {
    filter: brightness(160%);
  }
  treechildren::-moz-tree-row(multicol, odd),
  #permList {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  radiogroup > radio[selected],
  radiogroup > radio:hover,
  #permList > .permission:hover,
  treechildren::-moz-tree-row(hover),
  button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: inherit !important;
  }

  treechildren::-moz-tree-row(selected) {
    background-color: #000 !important;
  }

  button {
    padding: 3px;
  }
  #placesMenu > menu {
    border: none !important;
  }

  search-textbox,
  input,
  button {
    border: 1px solid graytext;
    border-radius: 3px;
  }
  search-textbox,
  input {
    padding: 2px;
  }
}

#editBookmarkPanelBottomButtons {
  display: flex;
  margin-top: -10px !important;
  margin-bottom: 0px !important;
}
