/*+++++ Bookmarks Dialog, which opens on pressing Bookmarks Toolbar button +++++*/

#BMB_bookmarksPopup menupopup[placespopup="true"] {
  margin-left: 10px !important;
}

/*+++++ Modify Bookmarks Panel, which opens on pressing Bookmarks star in URL Bar +++++*/

#editBookmarkPanel {
  font-size: var(--panel-font-size);
  transform: scale(0.95) !important;
  width: 300px !important;
}

#editBookmarkPanelInfoArea {
  display: none !important;
}

#editBookmarkPanelBottomButtons {
  display: block !important;
  transform: scale(0.8) !important;
  margin-inline-start: -25px !important;
}

.expander-up,
.expander-down {
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-16.svg");
  transform: scale(0.7) !important;
}

dropmarker:not([native]) {
  transform: scale(0.7) !important;
}

#editBMPanel_tagsRow {
  margin-top: -5px !important;
}

#editBookmarkPanelContent label[control] {
  margin-inline-start: 0;
  margin-block-start: 0;
  font-size: 1.1rem !important;
}

#editBMPanel_folderMenuList {
  background-color: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  color: #fff !important;
  margin-left: -33px !important;
}

#editBMPanel_folderTree {
  -moz-appearance: none !important;
  background: #000 !important;
  color: #fff !important;
  font-size: 1.1rem !important;
  font-family: "Fira Sans" !important;
  min-width: 1px !important;
  border: 0px #000 !important;
}

#editBookmarkPanel treechildren::-moz-tree-row(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(selected) {
  outline: none !important;
  border: none !important;
}

treechildren::-moz-tree-cell(selected) {
  outline: none !important;
  border: none !important;
}

#editBMPanel_folderMenuList .in-menulist {
  margin-left: 15px !important;
}

#editBookmarkPanelBottomContent {
  display: none !important;
}

#editBMPanel_tagsField {
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  outline: 0px !important;
}

#editBMPanel_tagsField:focus-visible {
  outline: 0px solid #212121 !important;
  -moz-appearance: none !important;
}

#editBookmarkPanelDoneButton {
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#editBookmarkPanelRemoveButton {
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#editBookmarkPanelTitle {
  font-family: "Fira Sans" !important;
  font-size: 1.2rem !important;
}

#editBMPanel_nameRow {
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#editBookmarkPanelRows > vbox {
  margin-bottom: 0.3em !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#editBMPanel_namePicker:focus-visible {
  outline: 0px !important;
  -moz-appearance: none !important;
}

#editBookmarkPanelRows > vbox > html|input,
#editBookmarkPanelRows > vbox > hbox > html|input {
  outline: none !important;
}

#editBMPanel_tagsSelector > richlistitem > image {
  border: 1px solid #fff !important;
  background: #000 !important;
  filter: invert(1) !important;
  opacity: 0.2 !important;
}

/*+++++ Rules from https://pastebin.com/9RZBMSqv +++++++*/

/* These change the expander buttons on the library and bookmarking popup */

#editBMPanel_folderMenuList,
#editBMPanel_tagsSelectorExpander,
#editBMPanel_foldersExpander,
#detailsDeck button {
  -moz-appearance: none !important;
  border: 1px solid #000 !important;
  background: #000 !important;
  color: #fff !important;
}

#editBMPanel_folderMenuList:hover,
#editBMPanel_tagsSelectorExpander:hover,
#editBMPanel_foldersExpander:hover,
#detailsDeck button:hover {
  background: #181818 !important;
  color: #fff !important;
}

/* This changes the buttons inside the bookmarking popup at the url star */
#editBMPanel_newFolderButton,
#editBookmarkPanelDoneButton,
#editBookmarkPanelRemoveButton,
#tracking-action-unblock-private,
#identity-popup-popup-menulist,
#tracking-action-block,
#tracking-action-unblock {
  -moz-appearance: none !important;
  border-radius: 2px !important;
  background: #000 !important;
  border: 1px solid #212121 !important;
  color: #fff !important;
  padding: 0.5em !important;
  margin: 0.5em !important;
}

#editBMPanel_newFolderButton:hover,
#editBookmarkPanelDoneButton:hover,
#editBookmarkPanelRemoveButton:hover,
#tracking-action-unblock-private:hover,
#identity-popup-popup-menulist:hover,
#tracking-action-block:hover,
#tracking-action-unblock:hover {
  background: #181818 !important;
  color: #fff !important;
}

#editBookmarkPanelBottomButtons {
  background: transparent !important;
}

/* This changes the text boxes inside the library bottom information box */
#infoBox textbox,
#infoBox listbox,
/* This changes the text boxes on the popup when bookmarking a page from the url box */
#editBMPanel_namePicker,
#editBMPanel_tagsField,
#editBMPanel_tagsSelector {
  transition: all 0.25s ease-in-out !important;
  -moz-appearance: none !important;
  border: 0px solid #000 !important;
  background-color: #000 !important;
  color: #fff !important;
  scrollbar-width: thin !important;
  scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
}

/* A fix for bookmark preferences... so that some boxes won't appear brighter than others */
#bookmarkproperties #editBMPanel_namePicker,
#bookmarkproperties #editBMPanel_tagsField,
#bookmarkproperties #editBMPanel_tagsSelector {
  background-color: #000 !important;
}

/* This changes the same text boxes on hover */
#infoBox textbox[focused="true"],
#infoBox listbox[focused="true"],
/* This changes the same url bookmarking popup text boxes on hover */
#editBMPanel_namePicker[focused="true"],
#editBMPanel_tagsField[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_namePicker[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_tagsField[focused="true"] {
  background-color: #000 !important;
  color: #fff !important;
}

.autocomplete-richlistbox > richlistitem {
  background-color: #000 !important;
  color: #fff !important;
}

richlistitem[selected="true"] {
  background-color: #000 !important;
  color: #fff !important;
}

#editBMPanel_tagsField:focus-visible {
  outline: 0px #000 !important;
  -moz-appearance: none !important;
}

/*+++++++ This changes the color of autofill in edit Bookmark Panel, and removes outline ++++++++++*/

#editBMPanel_namePicker {
  font-family: "Fira Sans";
  font-size: 1.1rem !important;
}

#editBMPanel_namePicker:focus-visible {
  outline: 0px !important;
}

#editBMPanel_namePicker::selection {
  background-color: #000 !important;
  color: #fff !important;
}

#urlbar-input::selection {
  background-color: #1a237e !important;
  color: #fff !important;
}

#editBMPanel_tagsField::selection {
  background-color: transparent !important;
}

#editBMPanel_tagsField:focus-visible {
  outline: 0px !important;
}

#editBMPanel_locationField:focus-visible {
  outline: 0px !important;
}

#editBMPanel_keywordField:focus-visible {
  outline: 0px !important;
}

#editBMPanel_tagsSelectorExpander:focus-visible {
  outline: 0px !important;
}

@-moz-document url(chrome://browser/content/places/places.xhtml)
{
  #editBMPanel_locationField:focus-visible {
    outline: 0px !important;
  }

  #places input {
    border: 0px !important;
  }

  #editBMPanel_keywordField:focus-visible {
    outline: 0px !important;
  }

  #editBMPanel_tagsSelectorExpander:focus-visible {
    outline: 0px !important;
  }
}

#PersonalToolbar #import-button {
  font-family: "Fira Sans" !important;
  font-size: 1rem !important;
  display:none !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
  font-family: "Fira Sans" !important;
  font-size: 1rem !important;
}

#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon, 
#OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon { 
  width: 14px !important; 
  height: 14px !important
}

.findbar-textbox::selection {
  background-color: #1a237e !important;
  color: #fff !important;
}
