/*+++++ Buttons +++++*/

button {
  -moz-appearance: none !important;
  color: #fff !important;
  background-color: #000 !important;
  border: 1px solid #212121 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.12rem !important;
  font-weight: normal !important;
}

button:focus-visible,
html|select:focus-visible,
html|input:is([type="checkbox"], [type="color"], [type="radio"]):focus-visible,
xul|menulist:focus-visible,
xul|checkbox:not([native]):focus-visible > .checkbox-check,
xul|radio[focused="true"] > .radio-check,
xul|tab:focus-visible > .tab-middle > .tab-text {
  box-shadow: none !important;
  outline: 1px solid var(--in-content-focus-outline-color) !important;
  outline-offset: 2px !important;
  -moz-outline-radius: 2px !important;
  margin-top: 10px !important;
  font-family: "Fira Sans" !important;
}

/*+++++ Dialogs +++++*/

.dialogTitle {
  font-family: Fira Sans;
}

dialog#bookmarkpropertiesdialog {
  -moz-appearance: none !important;
  color: #fff !important;
  background: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

dialog#unknownContentType {
  color: #fff !important;
  background-color: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#openHandler {
  -moz-appearance: none !important;
  color: #fff !important;
  background: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#openHandlerBox {
  background: #000 !important;
  border: 1px solid #212121 !important;
}

.dialog-button-box button {
  -moz-appearance: none !important;
  color: #fff !important;
  background-color: #000 !important;
  border: 1px solid #212121 !important;
  padding: 5px !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

.dialog-button-box button:hover {
  -moz-appearance: none !important;
  color: #fff !important;
  background-color: #181818 !important;
  padding: 5px !important;
  border: 1px solid #212121 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

/*+++++ About Firefox Dialog +++++*/

@-moz-document url(chrome://browser/content/aboutDialog.xhtml)
{
  #clientBox {
    padding: 0px 0 15px;
    font-size: 1.15rem !important;
    font-family: "Fira Sans" !important;
  }

  #bottomBox {
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  #aboutDialogContainer {
    background-color: #000 !important;
  }

  #aboutDialog {
    background-color: #000 !important;
  }

  #rightBox {
    padding-top: 84px !important;
  }

  #leftBox {
    margin-top: 60px !important;
    background-image: url("GIFs/fox.gif") !important;
    transform: scale(0.9) !important;
  }
}

/*+++++ Common Dialogs +++++*/

@-moz-document url("chrome://global/content/commonDialog.xhtml")
{
  * {
    --checkbox-border-color: #212121 !important;
    --checkbox-checked-bgcolor: #000 !important;
    --checkbox-checked-color: #fff !important;
    --checkbox-checked-hover-bgcolor: #181818 !important;
    --checkbox-checked-active-bgcolor: #000 !important;
    --checkbox-checked-border-color: #181818 !important;
    --checkbox-unchecked-bgcolor: #181818 !important;
    --checkbox-unchecked-hover-bgcolor: #181818 !important;
    --checkbox-unchecked-active-bgcolor: #000 !important;
  }

  #infoTitle {
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
  }

  #infoBody {
    font-size: 1.15rem !important;
    font-family: "Fira Sans" !important;
  }

  #infoBody::selection {
    background-color: #1a237e !important;
    color: #fff !important;
  }

  #checkbox {
    font-size: 1.15rem !important;
    font-family: "Fira Sans" !important;
    margin-bottom: 5px !important;
  }

  #infoContainer {
    margin-bottom: 0px !important;
  }

  #titleText {
    font-size: 1.5rem !important;
    font-family: "Fira Sans" !important;
  }
}

/*+++++ 'Create New Profile' dialog +++++*/

@-moz-document url("chrome://mozapps/content/profile/createProfileWizard.xhtml")
{
  wizard {
    color: #fff !important;
    background-color: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }

  .wizard-header {
    color: #fff !important;
    background-color: #000 !important;
    border-bottom: 0px !important;
  }
}

#fxaSignoutDialog {
  color: #fff !important;
  background-color: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.2rem !important;
}

.delete-local-data-checkbox {
  font-family: "Fira Sans" !important;
  font-size: 1.2rem !important;
}

checkbox:-moz-focusring > .checkbox-label-box {
  outline: 0px dotted !important;
}

.checkbox-label-box:focus-visible {
  outline: 0px dotted !important;
}

/*+++++ in-content dialogs +++++*/
/*https://github.com/aminomancer/uc.css.js/blob/master/uc-popups.css#L433 */
.tab-prompt-dialog.dialogStack {
  z-index: 0 !important;
  /* to avoid dimming the sidebar and findbar */
}

:is(.tab-prompt-dialog, #window-modal-dialog) .dialogBox {
  margin-top: 0px !important;
  /* tab-prompt-dialogs are anchored to the top of the browser content area.
      this makes them look like they emerge from under the navbar. */
}

:is(.tab-prompt-dialog, #window-modal-dialog) :is(.dialogBox, .dialogFrame) {
  border-radius: 0 0 5px 5px !important;
}

.content-prompt-dialog :is(.dialogBox, .dialogFrame) {
  border-radius: 5px !important;
}

:is(.tab-prompt-dialog, #window-modal-dialog) .printDialogBox > .dialogFrame {
  border-radius: 0 !important;
}

/*+++++ Modal Prompts (alert() & friends) +++++*/

xul|vbox.paymentDialogContainerFrame,
xul|vbox.tabmodalprompt-mainContainer {
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--lwt-text-color, -moz-dialogtext) !important;
}

/*+++++ Multi Account Container Dialog +++++*/

#_testpilot-containers-panel {
  width: 130px !important;
}

/*+++++ Page Info Dialog +++++*/

@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xhtml)
{
  #topBar {
    background: #000 !important;
    color: #fff !important;
    border-bottom: 1px solid #212121 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
    font-variant-caps: petite-caps !important;
    padding: 10px !important;
  }

  #viewGroup > radio[selected="true"] {
    background-color: #000 !important;
    color: #64b5f6 !important;
  }

  #viewGroup > radio:hover {
    background-color: #000 !important;
    color: #fff !important;
  }

  #viewGroup > radio {
    list-style-image: none !important;
    margin-top: -30px !important;
  }

  treechildren,
  treechildren::-moz-tree-row(even),
  treechildren::-moz-tree-row(odd) {
    background: #000 !important;
    color: #fff !important;
  }

  tree {
    margin: 0.5em;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  treecols {
    padding: 5px !important;
    background: #000 !important;
    border-bottom: 1px solid #212121 !important;
  }

  #meta-name,
  #meta-content,
  #image-address,
  #image-type,
  #image-size,
  #image-alt,
  #image-count,
  .treecol-image {
    background: #000 !important;
    color: #fff !important;
    -moz-appearance: none !important;
  }

  #metatree,
  #imagetree {
    border: 1px solid #212121 !important;
    -moz-appearance: none !important;
  }

  #theimagecontainer {
    background: #000 !important;
    border: 1px solid #212121 !important;
  }

  #imagecontainerbox {
    margin: 0.5em;
    background: #000 !important;
    overflow: auto;
    border: 1px solid #212121 !important;
  }

  #permList {
    background: #000 !important;
    color: #fff !important;
    -moz-appearance: none !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  .permission {
    border-bottom: 1px solid #212121 !important;
  }

  .permission:hover {
    background-color: #000 !important;
    color: #fff !important;
  }
}

/*+++++ Permission Dialog +++++*/

@-moz-document url(chrome://mozapps/content/handling/permissionDialog.xhtml)
{
  #description {
    font-weight: bold;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }

  #change-app {
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  #rememberContainer {
    margin-bottom: 1em;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  dialog {
    background-color: #000 !important;
    border: 1px solid #212121 !important;
    padding: 15px !important;
  }
}

/*+++++ Print Progress Dialog +++++*/

/*Older ( Before v87)*/

@-moz-document url("chrome://global/content/printProgress.xhtml")
{
  dialog {
    color: #fff !important;
    background: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }
}

/*New*/

@-moz-document url-prefix("chrome://global/content/print.html")
{
  body {
    color: #fff !important;
    background: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }

  #printer-picker {
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  label,
  .label,
  #open-dialog-link {
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  html|button:enabled:hover,
  [multiple]:enabled:hover,
  html|input[type="color"]:hover,
  xul|button:not([disabled="true"]):hover,
  xul|menulist:not([disabled="true"]):hover {
    background-color: #000 !important;
  }

  html|select:not([size], [multiple]) {
    background-color: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  html|a:hover,
  .text-link:hover {
    text-decoration: none !important;
  }

  #button-container > button {
    font-family: "Fira Sans" !important;
    border: 1px solid #212121 !important;
  }

  * {
    scrollbar-width: none !important;
    scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  }
}

/*+++++ Print Preview +++++*/

.dialogOverlay {
  background-color: transparent !important;
}

.printPreviewBrowser {
  opacity: 0.6 !important;
}

.previewStack {
  background: black !important;
}

.toolbarButton,
.toolbarCenter {
  border-inline-end: none !important;
  border-block: none !important;
  font-family: "Fira Sans" !important;
  font-size: 1.2rem !important;
}

.startItem {
  border-inline-start: none !important;
  border-start-start-radius: 4px !important;
  border-end-start-radius: 4px !important;
}

.endItem {
  border-start-end-radius: 4px !important;
  border-end-end-radius: 4px !important;
}

/*+++++ Sanitize Dialog (Opens on hitting clear recent history button) +++++*/

#SanitizeDialog {
  background: #000 !important;
  color: #fff !important;
  font-family: "Fira Sans" !important;
  font-size: 14px !important;
  margin: 15px !important;
}

#sanitizeDurationChoice {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #212121 !important;
  -moz-appearance: none !important;
  padding: 5px !important;
}

/*+++++ Save File in (Downloads) Box +++++*/

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml")
{
  radio[focused="true"] > .radio-label-box {
    outline: 0px !important;
  }

  .radio-label-box {
    outline: 0px !important;
  }
}

.radio-label-box {
  outline: 0px !important;
}

.tabmodalprompt-topContainer {
  background-color: #000 !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  font-family: "Fira Sans" !important;
}

.tabmodalprompt-buttonContainer {
  background-color: #000 !important;
  border-top: 0px !important;
}

dialog#unknownContentType > #container > #normalBox > separator {
  display: none !important;
}

dialog#unknownContentType > #container > #normalBox {
  transform: scale(95%) !important;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

dialog#unknownContentType > #container > #normalBox > .header {
  display: none !important;
}

dialog#unknownContentType > #container > .small-indent {
  margin-top: 10px !important;
  font-size: 1.2rem !important;
}

dialog#unknownContentType > #container > #intro {
  display: none !important;
}

#app-picker {
  width: 320px;
  background-color: #000 !important;
  color: #fff !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#app-picker-listbox > richlistitem {
  -moz-box-align: center;
  background-color: #000 !important;
  color: #fff !important;
}

#app-picker-listbox {
  background-color: #000 !important;
  border: 0px !important;
  scrollbar-width: thin !important;
  scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  -moz-appearance: none !important;
  margin-bottom: 20px !important;
}

#app-picker > #file-info {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

#content-icon,
#app-picker-listbox > richlistitem > image {
  width: 22px !important;
  height: 22px !important;
}
