#downloadsPanel,
#widget-overflow,
#appMenu-popup,
#customizationui-widget-panel,
#identity-popup,
#permission-popup,
#protections-popup {
  margin-top: 6px !important;
}

/*+++++ Alert Popups +++++*/

@-moz-document url("chrome://global/content/alerts/alert.xhtml")
{
  #alertBox {
    color: #fff !important;
    border-color: #212121 !important;
    background-color: #000 !important;
    backdrop-filter: none !important;
  }

  #alertSettings {
    -moz-context-properties: fill, fill-opacity !important;
    color: inherit !important;
    border-radius: 2px !important;
    padding: 3px !important;
    margin: 0px 2px -3px 0px !important;
    transform: scale(0.91, 0.91) !important;
  }

  #alertSettings:hover,
  #alertSettings[open] {
    background-color: rgba(215, 215, 215, 0.1) !important;
  }

  #alertNotification {
    color: #fff !important;
    background: transparent !important;
    font-family: "Fira Sans" !important;
    font-size: 0.9rem !important;
  }
}

/*+++++ Confirmation Hint +++++*/

#confirmation-hint {
  font-family: "Fira Sans" !important;
  font-size: 1.15rem !important;
}

#confirmation-hint {
  --arrowpanel-background: #000 !important;
  --arrowpanel-border-color: #181818 !important;
}

/*++++++ Change color of Popup Notifications, including notification on installing Add-ons +++++*/

#notification-popup {
  font-size: 1.15rem !important;
  font-family: "Fira Sans" !important;
  background-color: #000 !important;
}

#notification {
  background: #000 !important;
  color: #fff !important;
}

#appMenu-addon-installed-notification {
  font-size: 1.05rem !important;
  font-family: "Fira Sans" !important;
}

.popup-notification-body {
  width: var(--popup-notification-body-width);
  font-size: 1.15rem !important;
  font-family: "Fira Sans" !important;
}

/*++++++ Change color of Notifications, that appear horizontally below navigation toolbox +++++*/

.container.infobar {
  background: #000 !important;
  font-size: 1.15rem !important;
  font-family: Fira Sans !important;
}
