/*+++++ History Panel Bottom 'Show All History' Button ++++++*/

.subviewbutton.panel-subview-footer {
  margin: 0;
  background-color: #000 !important;
  border-top: 1px solid #000 !important;
  border-radius: 0;
}

/*+++++ Bookmarks Panel Bottom 'Show All Bookmarks' Button ++++++*/

#BMB_bookmarksShowAll {
  display: none !important;
}

/*+++++ PDF Viewer +++++*/

#toolbarViewer {
  background-color: #000 !important;
}

#viewerContainer {
  background-color: #000 !important;
}

.dropdownToolbarButton > select:hover {
  background-color: #181818 !important;
}

.dropdownToolbarButton > select {
  background-color: #181818 !important;
}

.splitToolbarButton > .toolbarButton {
  transform: scale(0.75) !important;
}

html[dir="ltr"] #toolbarViewerRight,
html[dir="rtl"] #toolbarViewerLeft,
html[dir="ltr"] #toolbarSidebarRight,
html[dir="rtl"] #toolbarSidebarLeft {
  float: right;
  transform: scale(0.8) !important;
}

#thumbnailView {
  background-color: #000 !important;
}

#toolbarSidebar {
  background-color: #000 !important;
  transform: scale(0.9) !important;
  margin-left: -10px !important;
}

/*+++++ Search Boxes +++++*/

#search-box,
#searchFilter,
input:not(#urlbar-input) {
  -moz-appearance: none !important;
  background-color: #000 !important;
  padding: 2px !important;
  color: white !important;
  border: 1px solid black !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#extension-icon,
#identity-icon-label,
#identity-icon {
  display: none !important;
}

/*+++++ Dark Mode link preview +++++*/

#statuspanel-label {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
  font-family: Fira Sans;
  font-size: 11px !important;
}

/*+++++ Findbar at bottom +++++*/

.findbar-textbox,
.findbar-find-next,
.findbar-find-previous {
  border: none !important;
  background: transparent !important;
}

.findbar-button:hover {
  background: #000 !important;
}

/*+++++ PiP icon scaled +++++*/
.pip-wrapper {
  transform: scale(0.5) !important;
}

/* +++++ Change those (ugly) globe favicons +++++*/
/*https://old.reddit.com/r/FirefoxCSS/comments/bv3ies/change_those_ugly_globe_favicons_and_menu/ 
https://old.reddit.com/r/FirefoxCSS/comments/k5v3u4/replacing_black_fox_and_globe_icon/ */

.tab-icon-image:not([src]) {
  list-style-image: url(chrome://branding/content/icon32.png) !important;
}

.bookmark-item:not([src]) {
  list-style-image: url(chrome://branding/content/icon32.png) !important;
}

.all-tabs-item:not([src]) {
  list-style-image: url(chrome://branding/content/icon32.png) !important;
}

.all-tabs-button {
  list-style-image: url("chrome://branding/content/icon32.png") !important;
}

.all-tabs-button:not([src]) {
  list-style-image: url("chrome://branding/content/icon32.png") !important;
}

/* +++++ Change those (ugly) TWISTY ICONS +++++*/

.widget-overflow-list .subviewbutton-nav::after,
.PanelUI-subView .subviewbutton-nav::after {
  -moz-context-properties: fill, fill-opacity;
  content: url(chrome://global/skin/icons/menu-arrow.svg);
  fill: currentColor;
  fill-opacity: 0.6;
  display: -moz-box;
  transform: scale(0.6) !important;
}
