/* Tweaks for Ctrl+Tab */

#ctrlTab-previews {
  border-radius: 0 !important;
}

#ctrlTab-panel {
  -moz-appearance: none !important;
  color: #ffffff !important;
  border-style: none !important;
  padding: 20px 10px 10px !important;
  font-family: Fira Sans !important;
  font-weight: bold !important;
  background: #000 !important;
  text-align: center !important;
  text-shadow: none !important;
}

.ctrlTab-preview:not(#ctrlTab-showAll) > * > .ctrlTab-preview-inner {
  margin: -10px -10px 0 !important;
}

.ctrlTab-preview-inner {
  padding: 8px !important;
  border: 2px solid transparent !important;
  border-radius: 0px !important;
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  border: 2px solid transparent !important;
  border-image: 2 2 2 2
    linear-gradient(90deg, #004e92 0%, #aa076b 52.08%, #dc2430 100%) !important;
}

tabPreview-canvas element {
  max-width: 272px !important;
  min-width: 272px !important;
  max-height: 153px !important;
  min-height: 153px !important;
}

.ctrlTab-favicon-container {
  -moz-box-align: start !important;
  -moz-box-pack: start !important;
}

.ctrlTab-favicon[src] {
  background-color: transparent !important;
  width: 25px !important;
  height: 25px !important;
  padding: 2px !important;
}
