/*+++++ Remove Back, Forward, Refresh, Bookmark Button, from right click context menu +++++*/

#context-navigation {
  display: none !important;
}

/*+++++ Remove Separator after Back, Forward, Refresh, Bookmark Button in right click context menu +++++*/

#context-sep-navigation {
  display: none !important;
}

/*+++++ Reduce Padding of Context Menu items, increase margins, and change font +++++*/

menupopup > menuitem,
menupopup > menu {
  padding-block: 3px !important;
  padding-inline-start: 15px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  color: #fff !important;
  background: #000 !important;
}

/*+++++ Change Color of Hover over context menu items +++++*/

menuitem:hover,
menu:hover,
menu[open="true"],
menuitem[_moz-menuactive="true"] {
  background: #181818 !important;
}

/*+++++ Reduce Size of twisty icon, in right click context menu +++++*/

.menu-right {
  transform: scale(0.75) !important;
  margin-left: -30px !important;
  margin-right: 0px !important;
}

/*+++++ Modify the context menu background, introduced in proton +++++*/

.menupopup-arrowscrollbox {
  background-color: #000 !important;
  border: 1px solid #181818 !important;
  border-radius: 4px !important;
  padding-block: 6px !important;
  overflow: hidden;
}

/*+++++ Change color of separator in Context Menu +++++*/

menuseparator {
  appearance: none;
  border-top: 1px solid #181818 !important;
  border-bottom: none;
  padding: 0;
  margin: 2px 15px !important;
}

/*+++++ Hide icons on the left of context menu items +++++*/

.menu-iconic-left {
  filter: invert(0.4) contrast(2.5) saturate(2.5) !important;
}

.menu-iconic > .menu-iconic-left,
.menuitem-iconic > .menu-iconic-left {
  appearance: auto;
  -moz-default-appearance: menuimage;
  padding-top: 2px;
  margin-left: -8px !important;
}

.menu-iconic-icon {
  display: none !important;
}

menuitem[checked="true"] > .menu-iconic-left {
  display: none !important;
}

/*+++++ Shift context menu items introduced by Private Tab Script, to left +++++*/

#toggleTabPrivateState {
  /*margin-left: -4px !important;*/
  display: none !important;
}

#openLinkInPrivateTab {
  margin-left: 5px !important;
}

/*+++++ Removes Save Page, etc from context menu +++++*/

#context-viewsource,
#context-viewinfo,
#context-sep-viewsource,
#context-inspect-a11y,
#context-sep-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sep-screenshots,
#context-sep-setbackground,
#context-sep-ctp,
#context-sep-selectall,
#inspect-separator,
#customize-context-moveToPanel,
#customize-context-removeFromToolbar,
#toggle_toolbar-menubar,
#viewCustomizeToolbar,
#toolbar-context-menu,
#context-viewbgimage,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_bookmarkTab,
#context_closeTab,
#context_undoCloseTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_treestyletab,
#_644e8eb0-c710-47e9-b81c-5dd69bfcf86b_-menuitem-_parent,
#context_shareTabURL,
#context_selectAllTabs,
#context_toggleMuteTab,
#context-savepage,
#context_openANewTab,
#context_openANewTab + menuseparator,
#context_duplicateTabs + menuseparator,
#context-viewpartialsource-selection,
#context-inspect,
#context-media-eme-separator,
#context-searchselect,
#context-searchselect-private + menuseparator,
#context-savelink,
#_c2c003ee-bd69-42a2-b0e9-6f34222cb046_-menuitem-_open-tab-then-discard,
#_74145f27-f039-47ce-a470-a662b129930a_-menuitem-_copy-link-to-clipboard,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement,
#treestyletab_piro_sakura_ne_jp-menuitem-_separatprBeforetreestyletab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_closeTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_reloadTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_undoCloseTab,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_sendTabsToDevice,
#treestyletab_piro_sakura_ne_jp-menuitem-_context_separator\:afterCollapseExpand {
  display: none !important;
}

:root[privatebrowsingmode] #context_pinTab {
  display: none;
}

/*++++ Replace context menu labels with compact ones+++++*/
/**/
menuitem[label="Open link in new Temporary Container tab"] label {
  display: none !important;
}

menuitem[label="Open link in new Temporary Container tab"]::after {
  content: "Open in Temp Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Tab"]::after {
  content: "Open in Tab" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Unloaded Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Unloaded Tab"]::after {
  content: "Open Discarded" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Window"] label {
  display: none !important;
}

menuitem[label="Open Link in New Window"]::after {
  content: "Open in Window" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Private Window"] label {
  display: none !important;
}

menuitem[label="Open Link in New Private Window"]::after {
  content: "Open Incognito" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Bookmark Link"] label {
  display: none !important;
}

menuitem[label="Bookmark Link"]::after {
  content: "Bookmark" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menu[label="Open Link in New Container Tab"] > label {
  display: none !important;
}

menu[label="Open Link in New Container Tab"]::before {
  content: "Open in Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/

menu[label="Firefox Multi-Account Containers"] > label {
  display: none !important;
}

menu[label="Firefox Multi-Account Containers"]::before {
  content: "Manage Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Google Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Google Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Personal Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Personal Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Work Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Work Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Banking Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Banking Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/**/
menuitem[label="Open Link in New Shopping Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Shopping Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}
