* {
  font-weight: normal !important;
  outline: none !important;
  scrollbar-width: none !important;
  scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  text-decoration: none !important;
  --attention-icon-color: #1a237e !important;
  --sidebar-background-color: #000 !important;
}

/*Selection*/
::selection {
  background-color: #1a237e !important;
  color: #fff !important;
}

/*In-UI scroll-bars*/
.panel-subview-body,
#permList,
scrollbar {
  scrollbar-width: thin !important;
}

/*+++++ Global Colors +++++*/

:root,
#root {
  --accent-color: #000 !important;
  --accent-color-inactive: #000 !important;
  --additional-images: none !important;
  --arrowpanel-color: #fff !important;
  --arrowpanel-dimmed: #181818 !important;
  --arrowpanel-dimmed-further: #181818 !important;
  --arrowpanel-dimmed-even-further: #181818 !important;
  --arrowpanel-background: #000 !important;
  --arrowpanel-border-color: #212121 !important;
  --arrowpanel-menuitem-padding: 5px !important;
  --arrowpanel-menuitem-padding-block: 5px !important;
  --arrowpanel-menuitem-border-radius: 2px !important;
  --arrowpanel-menuitem-margin: 0 6px !important;
  --arrowpanel-border-radius: 6px !important;
  --arrowpanel-padding: 12px !important;
  --autocomplete-popup-color: #fff !important;
  --autocomplete-popup-background: #000 !important;
  --autocomplete-popup-highlight-background: #212121 !important;
  --autocomplete-popup-highlight-color: #fff !important;
  --background-alignment: right top !important;
  --background-tiling: no-repeat !important;
  --background-tab-separator-color: #181818 !important;
  --bookmark-block-padding: 3px !important;
  --button-color: #fff !important;
  --button-bgcolor: #000 !important;
  --button-active-bgcolor: #000 !important;
  --button-hover-bgcolor: #181818 !important;
  --button-hover-color: #181818 !important;
  --buttons-destructive-bgcolor: #000 !important;
  --buttons-destructive-hover-bgcolor: #181818 !important;
  --buttons-destructive-active-bgcolor: #181818 !important;
  --buttons-destructive-color: #fff !important;
  --buttons-primary-button-bgcolor: #000 !important;
  --buttons-primary-button-hover-bgcolor: #181818 !important;
  --buttons-primary-button-active-bgcolor: #181818 !important;
  --buttons-primary-button-color: #fff !important;
  --card-outline-color: #181818 !important;
  --card-shadow: 0 1px 2px #212121 !important;
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color) !important;
  --cfr-active-color: #64b5f6 !important;
  --cfr-animation-duration: 0.35s !important;
  --cfr-button-addons-icon: url(chrome://activity-stream/content/data/content/assets/glyph-webextension-16.svg) !important;
  --cfr-button-features-icon: url(chrome://activity-stream/content/data/content/assets/glyph-cfr-feature-16.svg) !important;
  --cfr-button-highlights-icon: url(chrome://activity-stream/content/data/content/assets/glyph-highlights-16.svg) !important;
  --checkbox-border-color: #212121 !important;
  --checkbox-checked-bgcolor: #000 !important;
  --checkbox-checked-color: #fff !important;
  --checkbox-checked-hover-bgcolor: #181818 !important;
  --checkbox-checked-active-bgcolor: #000 !important;
  --checkbox-checked-border-color: #181818 !important;
  --checkbox-unchecked-bgcolor: #181818 !important;
  --checkbox-unchecked-hover-bgcolor: #181818 !important;
  --checkbox-unchecked-active-bgcolor: #000 !important;
  --chrome-content-separator-color: #181818 !important;
  --dark-menu-color: #fff !important;
  --dark-menu-disabled-color: rgb(180, 180, 180) /*#999999*/ !important;
  --dark-menu-background-color: #000 !important;
  --dark-menu-border-color: #000 !important;
  --dark-menu-icon-opacity: 1 !important;
  --dark-menuitem-hover-background-color: #000 !important;
  --default-arrowpanel-color: #fff !important;
  --default-arrowpanel-background: #000 !important;
  --default-arrowpanel-border-color: #181818 !important;
  --dialog-warning-text-color: #fff !important;
  --drag-drop-transition-duration: 0s !important;
  --downloads-item-height: 5.5em !important;
  --downloads-item-font-size-factor: 0.9 !important;
  --downloads-item-details-opacity: 0.6 !important;
  --error-text-color: rgb(252, 117, 102) !important;
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color) !important;
  --focus-outline-color: #181818 !important;
  --focus-outline-width: 1px !important;
  --identity-box-margin-inline: 4px !important;
  --identity-box-label-opacity: 0.8 !important;
  --in-content-accent-color-active: #181818 !important;
  --in-content-box-background: #000 !important;
  --in-content-box-background-odd: #181818 !important;
  --in-content-box-border-color: #212121 !important;
  --in-content-box-info-background: #000 !important;
  --in-content-border-color: #181818 !important;
  --in-content-border-hover: #181818 !important;
  --in-content-border-invalid: #181818 !important;
  --in-content-button-background: #181818 !important;
  --in-content-button-background-active: #181818 !important;
  --in-content-button-background-hover: #181818 !important;
  --in-content-button-border-radius: 2px !important;
  --in-content-button-horizontal-padding: 12px !important;
  --in-content-button-text-color-hover: #fff !important;
  --in-content-button-vertical-padding: 7px !important;
  --in-content-danger-button-background: #000 !important;
  --in-content-danger-button-background-hover: #181818 !important;
  --in-content-danger-button-background-active: #181818 !important;
  --in-content-deemphasized-text: rgb(180, 180, 180) /*#999999*/ !important;
  --in-content-dialog-header-background: #000 !important;
  --in-content-focus-outline-color: #212121 !important;
  --in-content-icon-color: rgb(251, 251, 254) !important;
  --in-content-item-hover: color-mix(
    in srgb,
    var(--in-content-primary-button-background) 20%,
    transparent
  ) !important;
  --in-content-item-selected: #181818 !important;
  --in-content-item-selected-text: #fff !important;
  --in-content-link-color: #fff !important;
  --in-content-link-color-hover: #fff !important;
  --in-content-link-color-active: blue !important;
  --in-content-link-color-visited: blue !important;
  --in-content-page-color: #fff !important;
  --in-content-page-background: #000 !important;
  --in-content-primary-button-text-color: #fff !important;
  --in-content-primary-button-background: #000 !important;
  --in-content-primary-button-background-active: #181818 !important;
  --in-content-primary-button-background-hover: #181818 !important;
  --in-content-sidebar-width: 240px !important;
  --in-content-table-background: #000 !important;
  --in-content-table-border-dark-color: #212121 !important;
  --in-content-table-header-background: #181818 !important;
  --in-content-text-color: #fff !important;
  --inline-tab-padding: 8px !important;
  --input-color: #fff !important;
  --input-bgcolor: #000 !important;
  --input-border-color: #212121 !important;
  --input-error-border-color: #212121 !important;
  --lwt-accent-color: #000 !important;
  --lwt-accent-color-inactive: #000 !important;
  --lwt-additional-images: none !important;
  --lwt-background-alignment: right top !important;
  --lwt-background-tiling: no-repeat !important;
  --lwt-background-tab-separator-color: #181818 !important;
  --lwt-popup-brighttext-url-color: #64b5f6 !important;
  --lwt-selected-tab-background-color: #000 !important;
  --lwt-sidebar-background-color: #000 !important;
  --lwt-sidebar-text-color: rgba(249, 249, 250, 1) !important;
  --lwt-tab-text: #fff !important;
  --lwt-text-color: #fff !important;
  --lwt-toolbarbutton-icon-fill: rgb(230, 230, 230) !important;
  --lwt-toolbarbutton-icon-fill-attention: rgb(148, 0, 255) !important;
  --lwt-toolbar-field-color: #fff !important;
  --lwt-toolbar-field-background-color: #000 !important;
  --lwt-toolbar-field-border-color: #181818 !important;
  --lwt-toolbar-field-focus: #181818 !important;
  --lwt-toolbar-field-focus-color: #fff !important;
  --lwt-toolbar-field-highlight: #181818 !important;
  --lwt-toolbar-field-highlight-text: #fff !important;
  --menu-background-color: #000 !important;
  --menu-border-color: #000 !important;
  --menu-color: #fff !important;
  --menu-disabled-color: rgb(180, 180, 180) /*#999999*/ !important;
  --menu-icon-opacity: 1 !important;
  --menuitem-hover-background-color: #000 !important;
  --message-bar-background-color: #001924 !important;
  --message-bar-text-color: #fff !important;
  --newtab-background-color: #000 !important;
  --newtab-text-primary-color: rgba(251, 251, 254, 1);
  --organizer-background-color-content: #181818 !important;
  --organizer-border-color-selected: #242424 !important;
  --organizer-searchbox-border-active: #212121 !important;
  --organizer-searchbox-border-active-shadow: #212121 !important;
  --panel-banner-item-color: #fff !important;
  --panel-banner-item-background-color: #181818 !important;
  --panel-banner-item-active-bgcolor: #000 !important;
  --panel-banner-item-hover-bgcolor: #181818 !important;
  --panel-banner-item-info-icon-bgcolor: #64b5f6 !important;
  --panel-banner-item-update-supported-bgcolor: #64b5f6 !important;
  --panel-banner-item-warning-icon-bgcolor: #64b5f6 !important;
  --panel-description-color: rgba(255, 255, 255, 0.65) !important;
  --panel-disabled-color: rgb(180, 180, 180) /*#999999*/ !important;
  --panel-separator-color: #181818 !important;
  --panel-separator-margin: 3px 6px !important;
  --panel-separator-zap-gradient: linear-gradient(
    90deg,
    #9059ff 0%,
    #ff4aa2 52.08%,
    #ffbd4f 100%
  ) !important;
  --panel-shortcut-color: #fff !important;
  --panel-subview-body-padding: 0px !important;
  --panelui-subview-transition-duration: 150ms !important;
  --panelview-toolbarbutton-active-color: #fff !important;
  --panelview-toolbarbutton-hover-color: #fff !important;
  --panelview-toolbarbutton-active-bgcolor: #181818 !important;
  --panelview-toolbarbutton-hover-bgcolor: #181818 !important;
  --panelview-toolbarbutton-focus-box-shadow: none !important;
  --pinned-tab-width: 36px !important;
  --popup-brighttext-url-color: #64b5f6 !important;
  --popup-notification-body-width: calc(
    31em - calc(2 * var(--arrowpanel-padding))
  ) !important;
  --proton-tab-block-margin: 2px !important;
  --selected-tab-background-color: #000 !important;
  --short-notification-background: #000 !important;
  --short-notification-gradient: #000 !important;
  --sidebar-border-color: #000 !important;
  --sidebar-background-color: #000 !important;
  --sidebar-text-color: rgba(249, 249, 250, 1) !important;
  --space-above-tabbar: 0px !important;
  --tab-border-radius: 4px !important;
  --tab-line-color: rgb(148, 0, 255) !important;
  --tab-min-height: 32px !important;
  --tab-shadow-max-size: 6px !important;
  --tab-text: #fff !important;
  --tabs-border-color: threedshadow !important;
  --tabs-navbar-shadow-size: 1px !important;
  --tabpanel-background-color: #000 !important;
  --text-color: #fff !important;
  --toolbar-bgcolor: #000 !important;
  --toolbar-bgimage: none !important;
  --toolbarbutton-icon-fill: rgb(230, 230, 230) !important;
  --toolbarbutton-icon-fill-attention: rgb(148, 0, 255) !important;
  --toolbar-field-color: #fff !important;
  --toolbar-field-background-color: #000 !important;
  --toolbar-field-border-color: #181818 !important;
  --toolbar-field-focus: #181818 !important;
  --toolbar-field-focus-color: #fff !important;
  --toolbar-field-highlight: #181818 !important;
  --toolbar-field-highlight-text: #fff !important;
  --toolbar-color: #fff !important;
  --toolbar-field-focus-border-color: #212121 !important;
  --toolbar-non-lwt-bgcolor: #000 !important;
  --toolbar-non-lwt-bgimage: none !important;
  --toolbar-non-lwt-textcolor: #fff !important;
  --toolbar-start-end-padding: 0px !important;
  --toolbarbutton-active-background: #181818 !important;
  --toolbarbutton-hover-background: #181818 !important;
  --toolbarbutton-border-radius: 4px !important;
  --toolbarbutton-focus-outline: var(--focus-outline) !important;
  --toolbarbutton-height: 0 !important;
  --toolbarbutton-hover-transition-duration: 150ms !important;
  --toolbarbutton-icon-fill-opacity: 1 !important;
  --toolbarbutton-inner-padding: calc(
    (var(--tab-min-height) - 28px) / 2
  ) !important;
  --toolbarbutton-outer-padding: 1px !important;
  --toolbarbutton-vertical-text-padding: calc(
    var(--toolbarbutton-inner-padding) - 1px
  ) !important;
  --toolbarseparator-color: #181818 !important;
  --urlbar-box-bgcolor: #000 !important;
  --urlbar-box-hover-bgcolor: #000 !important;
  --urlbar-box-active-bgcolor: #000 !important;
  --urlbar-container-padding: 1px !important;
  --urlbar-icon-padding: calc((var(--tab-min-height) - 28px) / 2) !important;
  --urlbar-icon-fill-opacity: 1 !important;
  --urlbar-min-height: 20px !important;
  --urlbar-popup-action-color: #64b5f6 !important;
  --urlbar-popup-url-color: var(--lwt-popup-brighttext-url-color) !important;
  --urlbar-result-hover-bgcolor: var(--arrowpanel-dimmed) !important;
  --urlbar-separator-color: #181818 !important;
  --urlbarView-action-slide-in-distance: 200px !important;
  --urlbarView-button-background: #000 !important;
  --urlbarView-button-background-hover: #000 !important;
  --urlbarView-button-background-active: #000 !important;
  --urlbarView-primary-button-text: #fff !important;
  --urlbarView-primary-button-background: #000 !important;
  --urlbarView-primary-button-background-active: #181818 !important;
  --urlbarView-primary-button-background-hover: #181818 !important;
  --urlbarView-item-inline-padding: calc(
    (var(--tab-min-height) - 28px) / 2
  ) !important;
  --zoom-controls-bgcolor: #000 !important;
}

/*NEW TAB PAGE*/

body[lwt-newtab-brighttext],
body {
  --newtab-background-color: #000 !important;
  --newtab-border-primary-color: #212121 !important;
  --newtab-border-secondary-color: #212121 !important;
  --newtab-button-primary-color: #000 !important;
  --newtab-button-secondary-color: #000 !important;
  --newtab-element-active-color: #000 !important;
  --newtab-element-hover-color: #181818 !important;
  --newtab-icon-primary-color: rgba(249, 249, 250, 0.8) !important;
  --newtab-icon-secondary-color: rgba(249, 249, 250, 0.4) !important;
  --newtab-icon-tertiary-color: rgba(249, 249, 250, 0.4) !important;
  --newtab-inner-box-shadow-color: #181818 !important;
  --newtab-inner-box-shadow-color-nte: #181818 !important;
  --newtab-tile-shadow-secondary: #181818 !important;
  --newtab-link-primary-color: #64b5f6 !important;
  --newtab-link-secondary-color: #64b5f6 !important;
  --newtab-text-conditional-color: #f9f9fa !important;
  --newtab-text-primary-color: #fbfbfe !important;
  --newtab-text-secondary-color: rgba(249, 249, 250, 0.8) !important;
  --newtab-textbox-background-color: #000 !important;
  --newtab-textbox-border: #212121 !important;
  --newtab-textbox-focus-color: #fff !important;
  --newtab-textbox-focus-boxshadow: 0 0 0 1px #181818 !important;
  --newtab-background-button-color: #000 !important;
  --newtab-background-button-text-color: #cdcdd4 !important;
  --newtab-background-button-hover-color: #181818 !important;
  --newtab-background-button-active-color: #181818 !important;
  --newtab-feed-button-background: #000 !important;
  --newtab-feed-button-text: #f9f9fa !important;
  --newtab-feed-button-background-faded: #000 !important;
  --newtab-feed-button-text-faded: rgb(180, 180, 180) /*#999999*/ !important;
  --newtab-feed-button-spinner: #d7d7db !important;
  --newtab-contextmenu-background-color: #000 !important;
  --newtab-contextmenu-button-color: #000 !important;
  --newtab-modal-color: #000 !important;
  --newtab-overlay-color: #000 !important;
  --newtab-section-header-text-color: rgba(249, 249, 250, 0.8) !important;
  --newtab-section-navigation-text-color: rgba(249, 249, 250, 0.8) !important;
  --newtab-section-active-contextmenu-color: #fff !important;
  --newtab-search-border-color: #212121 !important;
  --newtab-search-dropdown-color: #000 !important;
  --newtab-search-dropdown-header-color: #000 !important;
  --newtab-search-header-background-color: #000 !important;
  --newtab-search-icon-color: rgba(249, 249, 250, 0.6) !important;
  --newtab-search-wordmark-color: #fff !important;
  --newtab-topsites-background-color: #000 !important;
  --newtab-topsites-icon-shadow: none !important;
  --newtab-topsites-label-color: rgba(249, 249, 250, 0.8) !important;
  --newtab-topsites-outer-card-hover: #181818 !important;
  --newtab-topsites-context-menu-hover: #181818 !important;
  --newtab-card-active-outline-color: #181818 !important;
  --newtab-card-background-color: #000 !important;
  --newtab-card-hairline-color: #000 !important;
  --newtab-card-placeholder-color: #000 !important;
  --newtab-card-shadow: 0 1px 8px 0 #181818 !important;
  --newtab-snippets-background-color: #000 !important;
  --newtab-snippets-hairline-color: #181818 !important;
  --newtab-background-primary-text-color: #cdcdd4 !important;
  --newtab-focus-outline: #181818 !important;
  --newtab-focus-border: #212121 !important;
  --newtab-focus-border-selected: #212121 !important;
  --newtab-primary-action-background: #000 !important;
  --newtab-primary-action-background-off: #000 !important;
  --newtab-seperator-line-color: #212121 !important;
  --customize-menu-primary-text-color: #e0e0e6 !important;
  --customize-menu-check-fill: #e0e0e6 !important;
  --customize-menu-background: #000 !important;
  --customize-menu-secondary-action-background: #000 !important;
  --customize-menu-secondary-action-background-hover: #000 !important;
  --customize-menu-secondary-action-background-active: #181818 !important;
  --customize-menu-seperator-line-color: #212121 !important;
  --customize-menu-first-shadow: #181818 !important;
  --customize-menu-second-shadow: #181818 !important;
  --customize-menu-primary-action-text: #e0e0e6 !important;
  --customize-menu-line-color: #212121 !important;
  --newtab-search-first-shadow: #181818 !important;
  --newtab-search-second-shadow: #181818 !important;
  --newtab-search-text-color: #b1b1bd !important;
  --newtab-card-first-shadow: #181818 !important;
  --newtab-card-second-shadow: #181818 !important;
  --newtab-wordmark-color: #fff !important;
}


/*About:, Chrome:, and Extension Pages*/
/*https://github.com/aminomancer/uc.css.js/blob/master/userContent.css#L1402*/
@-moz-document regexp("^(about:|chrome:|moz-extension:).*") {
  :root {
    --checkbox-border-color: #212121 !important;
    --checkbox-checked-bgcolor: #000 !important;
    --checkbox-checked-color: #fff !important;
    --checkbox-checked-hover-bgcolor: #181818 !important;
    --checkbox-checked-active-bgcolor: #000 !important;
    --checkbox-checked-border-color: #181818 !important;
    --checkbox-unchecked-bgcolor: #181818 !important;
    --checkbox-unchecked-hover-bgcolor: #181818 !important;
    --checkbox-unchecked-active-bgcolor: #000 !important;
  }

  html:not([role="dialog"]),
  html:not([role="dialog"]) *,
  html:not([role="dialog"]) body.activity-stream,
  window:not([chromehidden]),
  window:not([chromehidden]) > dialog {
    --in-content-accent-color-active: #181818 !important;
    --in-content-box-background: #000 !important;
    --in-content-box-background-odd: #181818 !important;
    --in-content-box-border-color: #212121 !important;
    --in-content-box-info-background: #000 !important;
    --in-content-border-color: #181818 !important;
    --in-content-border-hover: #181818 !important;
    --in-content-border-invalid: #181818 !important;
    --in-content-button-background: #181818 !important;
    --in-content-button-background-active: #181818 !important;
    --in-content-button-background-hover: #181818 !important;
    --in-content-button-border-radius: 2px !important;
    --in-content-button-horizontal-padding: 12px !important;
    --in-content-button-text-color-hover: #fff !important;
    --in-content-button-vertical-padding: 7px !important;
    --in-content-danger-button-background: #000 !important;
    --in-content-danger-button-background-hover: #181818 !important;
    --in-content-danger-button-background-active: #181818 !important;
    --in-content-deemphasized-text: rgb(180, 180, 180) /*#999999*/ !important;
    --in-content-dialog-header-background: #000 !important;
    --in-content-focus-outline-color: #212121 !important;
    --in-content-icon-color: rgb(251, 251, 254) !important;
    --in-content-item-hover: color-mix(
      in srgb,
      var(--in-content-primary-button-background) 20%,
      transparent
    ) !important;
    --in-content-item-selected: #181818 !important;
    --in-content-item-selected-text: #fff !important;
    --in-content-link-color: #fff !important;
    --in-content-link-color-hover: #fff !important;
    --in-content-link-color-active: blue !important;
    --in-content-link-color-visited: blue !important;
    --in-content-page-color: #fff !important;
    --in-content-page-background: #000 !important;
    --in-content-primary-button-text-color: #fff !important;
    --in-content-primary-button-background: #000 !important;
    --in-content-primary-button-background-active: #181818 !important;
    --in-content-primary-button-background-hover: #181818 !important;
    --in-content-sidebar-width: 240px !important;
    --in-content-table-background: #000 !important;
    --in-content-table-border-dark-color: #212121 !important;
    --in-content-table-header-background: #181818 !important;
    --in-content-text-color: #fff !important;
  }

  /*Remove Separator, Change font in about:preferences iframes*/
  .groove {
    display: none !important;
  }

  window > dialog,
  .button-box > .button-text {
    font-family: Fira Sans !important;
  }
}

/*MENU POPUPS*/
.menupopup-arrowscrollbox {
  --menu-background-color: #000 !important;
  --menu-border-color: #212121 !important;
  --menu-color: #fff !important;
  --menu-disabled-color: rgb(180, 180, 180) /*#999999*/ !important;
  --menu-icon-opacity: 1 !important;
}

/*Notifications*/
notification {
  background: #000 !important;
  color: #fff !important;
}

/*Link Hover*/
.text-link:hover {
  text-decoration: none !important;
}

/*PDF VIEWER*/
:root {
  --dropdown-btn-bg-color: #000 !important;
  --doorhanger-bg-color: #000 !important;
  --doorhanger-border-color: #212121 !important;
  --doorhanger-hover-color: rgba(249, 249, 250, 1);
  --doorhanger-hover-bg-color: #181818 !important;
  --doorhanger-separator-color: #181818 !important;
  --overlay-button-bg-color: #000 !important;
  --overlay-button-hover-bg-color: #181818 !important;
}


