<<<<<<< HEAD
@import url(blanket-rules.css);
@import url(chrome_bookmarks.css);
@import url(chrome_buttons_and_dialogs.css);
@import url(chrome_contextmenu.css);
@import url(chrome_Ctrl+Tab_View.css);
@import url(chrome_library.css);
@import url(chrome_menus.css);
@import url(chrome_popups.css);
@import url(chrome_sidebar.css);
@import url(chrome_tooltips.css);
@import url(chrome_tweaks.css);
@import url(NavToolbox_Icons.css);
@import url(NavToolbox_Menubar.css);
@import url(NavToolbox_Tabbar.css);
@import url(NavToolbox_Urlbar.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*+++++ Prevent White Flickering, when Switching Pages ++++++ */

#tabbrowser-tabpanels,
browser[type="content"] > html {
  background-color: #000 !important;
  color: #fff !important;
}

:root[privatebrowsingmode="temporary"] #tabbrowser-tabpanels,
body.caution,
#webextpanels-window,
#webext-panels-stack,
#webext-panels-browser {
  background-color: #000 !important;
}

@-moz-document url(chrome://browser/content/webext-panels.xhtml)
{
  :root {
    background-color: #000 !important;
    color: #fff !important;
  }
}

/*+++++ Check Boxes and Radio Buttons +++++*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/custom_menupopup_check_icons.css made available under Mozilla Public License v. 2.0
*/

menuitem:is([type="checkbox"]) .menu-iconic-left {
  -moz-appearance: none !important;
  height: 7px;
  margin-block: 2px;
  margin-inline: 3px 6px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -moz-context-properties: fill;
  fill: currentColor;
}

menuitem[checked] .menu-iconic-left {
  background-image: url("chrome://global/skin/icons/check.svg");
  background-color: transparent;
=======
@import url(global-colors.css);
@import url(userChrome/global-rules.css);
@import url(userChrome/Bookmarks.css);
@import url(userChrome/ContextMenu.css);
@import url(userChrome/ContextMenuCustomLabels.css);
@import url(userChrome/Ctrl+Tab_View.css);
@import url(userChrome/Custom_Icons.css);
@import url(userChrome/Dialogs.css);
@import url(userChrome/Findbar.css);
@import url(userChrome/LibraryView.css);
@import url(userChrome/Menus.css);
@import url(userChrome/NavigatorToolbox.css);
@import url(userChrome/Notifications.css);
@import url(userChrome/Sidebar.css);
@import url(userChrome/StatusPanel.css);
@import url(userChrome/Tooltips.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*+++++ Prevent White Flickering, Full Dark Mode ++++++ */

#main-window,
#browser,
#appcontent,
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
:root[privatebrowsingmode="temporary"] #tabbrowser-tabpanels,
.browserSidebarContainer,
.browserContainer,
.browserStack,
#webextpanels-window,
#webext-panels-stack,
#webext-panels-browser,
.webextension-popup-browser,
.webextension-popup-stack,
panelmultiview,
.panel-viewcontainer,
.panel-viewstack,
panelview {
  background-color: #000 !important;
  background: #000 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

/*+++++ Specify Font Face in Customize Toolbar Page +++++*/
#customization-container {
  font-family: Fira Sans !important;
}

/*+++++ Scale down PiP icon +++++*/
.pip-wrapper {
  transform: scale(0.5) !important;
>>>>>>> 5c1e71a (Remove Frivolous Code)
}
