@import url(global-colors.css);
@import url(userChrome/global-rules.css);
@import url(userChrome/Bookmarks.css);
@import url(userChrome/ContextMenu.css);
@import url(userChrome/ContextMenuCustomLabels.css);
@import url(userChrome/Ctrl+Tab_View.css);
@import url(userChrome/Custom_Icons.css);
@import url(userChrome/Dialogs.css);
@import url(userChrome/Findbar.css);
@import url(userChrome/LibraryView.css);
@import url(userChrome/Menus.css);
@import url(userChrome/NavigatorToolbox.css);
@import url(userChrome/Notifications.css);
@import url(userChrome/Sidebar.css);
@import url(userChrome/StatusPanel.css);
@import url(userChrome/Tooltips.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  font-family: Fira Sans !important;
}

/*+++++ Prevent White Flickering, Full Dark Mode ++++++ */

#main-window,
#browser,
#appcontent,
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
:root[privatebrowsingmode="temporary"] #tabbrowser-tabpanels,
.browserSidebarContainer,
.browserContainer,
.browserStack,
#webextpanels-window,
#webext-panels-stack,
#webext-panels-browser,
.webextension-popup-browser,
.webextension-popup-stack,
panelmultiview,
.panel-viewcontainer,
.panel-viewstack,
panelview {
  background-color: var(--Dark_BackgroundColor) !important;
  background: var(--Dark_BackgroundColor) !important;
  color: var(--Dark_TextColor) !important;
  border-radius: 0 !important;
}

/*+++++ Specify Font Face in Customize Toolbar Page +++++*/
#customization-container {
  font-family: Fira Sans !important;
}

/*+++++ Scale down PiP icon +++++*/
.pip-wrapper {
  transform: scale(0.5) !important;
}
