/*+++++ PAGE FOR INTERNAL ICONS +++++*/

@-moz-document url-prefix(resource:///)
{
  :root {
    background-color: var(--Dark_BackgroundColor) !important;
  }

  body {
    border: 1px solid var(--Dark_BorderColor) !important;
    border-radius: 2px !important;
    background-color: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  a {
    color: var(--Dark_LinkColor) !important;
  }

  svg {
    filter: invert(1) !important;
  }

  h1 {
    font-size: 150% !important;
    margin: 0 0 0.6em;
    border-bottom: 0 !important;
    font-weight: normal;
  }
}
