/*+++++ BYPASS PAYWALS CLEAN EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Enter Internal UUID Here/)
{
  * {
    color: #fff !important;
    font-size: 95% !important;
  }

  button {
    background: #000 !important;
    border: 1px solid #212121 !important;
    padding: 5px !important;
    -moz-appearance: none !important;
  }
}
