/*+++++ CLEAR URLs EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Enter Internal UUID Here/popup.html),
url-prefix(moz-extension://Enter Internal UUID Here/html/popup.html)
{
  .container-fluid {
    background-color: #000 !important;
  }

  .col-sm-1 {
    background-color: #000 !important;
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }

  .bg-dark {
    background-color: #000 !important;
  }

  #donate {
    display: none !important;
  }

  .navbar-brand {
    transform: scale(0.85) !important;
    margin-left: -20px !important;
  }

  .row {
    background-color: #000 !important;
  }

  #status_section {
    margin-top: -155px !important;
    margin-bottom: -50px !important;
    z-index: 1 !important;
    position: absolute !important;
    right: 1em !important;
    transform: scale(0.9) !important;
  }

  input:checked + .slider {
    background-color: #212121 !important;
    transform: scale(40%) !important;
  }

  .slider.round {
    border-radius: 34px;
    transform: scale(40%) !important;
  }

  body {
    line-height: 1.3 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  svg:not(:root).svg-inline--fa {
    overflow: visible;
    transform: scale(80%) !important;
  }

  .progress {
    height: 4px !important;
    margin-bottom: -10px !important;
  }

  #statistic_section {
    margin-top: -15px !important;
    margin-bottom: -20px !important;
  }

  .btn-group-sm > .btn,
  .btn-sm {
    margin-top: -50px !important;
  }

  .btn-primary {
    color: #fff;
    background-color: #000 !important;
    border-color: #212121 !important;
  }

  .fontawesome-i2svg-active.fontawesome-i2svg-complete {
    background: #000 !important;
  }

  #references_section {
    z-index: 1 !important;
    position: absolute !important;
    right: 0.5em !important;
    margin-top: -55px !important;
    transform: scale(0.7) !important;
  }

  .svg-inline--fa {
    filter: invert(0.5) !important;
  }

  #configs_head {
    display: none !important;
  }

  #config_section {
    margin-top: -10px !important;
  }

  .switch {
    margin-top: -10px !important;
    margin-left: -10px !important;
  }

  label {
    display: inline-block;
    margin-bottom: 0.2rem !important;
    margin-top: 3px !important;
    margin-left: -15px !important;
  }

  #statistics_head {
    display: none !important;
  }

  .progress {
    background-color: #000 !important;
    border-radius: 0 !important;
    width: 100px !important;
    margin: auto !important;
  }

  #statistic_section {
    width: 220px !important;
    margin: auto !important;
  }

  #reset_counter_btn {
    display: none !important;
  }

  #rules_status_head {
    display: none !important;
  }
}

@-moz-document url-prefix(moz-extension://Enter Internal UUID Here/html/settings.html)
{
  * {
    color: #fff !important;
    width: auto !important;
    font-family: fira sans !important;
    background: transparent !important;
  }

  #badged_color_label,
  .pickr {
    display: none !important;
  }

  .switch {
    display: inline-block;
    width: 50px;
    height: 24px;
    transform: scale(0.6) !important;
    filter: invert(0.5) !important;
    right: 0 !important;
    position: absolute !important;
    margin-top: -2px !important;
  }

  .slider.round::before {
    border-radius: 0 !important;
  }

  .bg-dark {
    background-color: transparent !important;
  }

  br {
    display: none !important;
  }

  .col-lg-4 {
    max-width: 100% !important;
    margin: auto !important;
  }
}
