/*+++++ ENHANCER FOR YOUTUBE EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Enter Internal UUID Here/)
{
  header {
    filter: invert(1) !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d4d4d4 !important;
  }

  .extension-icon {
    filter: invert(1) !important;
  }

  body[dir="ltr"] svg {
    filter: invert(1) !important;
    transform: scale(0.7) !important;
  }

  body {
    font-family: Fira Sans !important;
    font-size: 0.8em !important;
    color: #fff !important;
  }

  textarea,
  select,
  button {
    background: #000 !important;
    border: 1px solid #212121 !important;
    color: #fff !important;
    -moz-appearance: none !important;
  }

  fieldset {
    border: 1px solid #212121 !important;
  }

  #cinemamode-page {
    filter: invert(0.1) !important;
  }

  #locale,
  .rate,
  .donate {
    display: none !important;
  }
}
