/*+++++ ERROR PAGES +++++*/

body.caution {
  border-style: solid;
  border-color: #ffe900;
  border-width: 5px !important;
  background-color: #000 !important;
}

#errorPageContainer,
body.neterror {
  background-color: #000 !important;
  font-family: "Fira Sans" !important;
  width: 400px !important;
  margin: auto !important;
}

#errorPageContainer {
  background-image: none !important;
}

#netErrorButtonContainer > .try-again {
  margin-top: 1.2em;
  border: 1px solid #212121 !important;
}

#errorLongDesc {
  display: none !important;
}

@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xul),
url-prefix(chrome: //global/content/httpsonlyerror/)
{
  body {
    background-color: #000 !important;
  }
}

@-moz-document url-prefix("about:httpsonlyerror") {
  body {
    background-color: #000 !important;
    font-family: "Fira Sans" !important;
    width: 400px !important;
    margin: auto !important;
  }

  #insecure-explanation-unavailable {
    margin-bottom: 0.5em;
    display: none !important;
  }

  #learn-more-container {
    margin-block: 0 2em;
    display: none !important;
  }

  #explanation-continue {
    margin-block: 2em;
    display: none !important;
  }

  button.primary {
    border: 1px solid #212121 !important;
  }
}
