/*Library View that opens in Tab*/

@-moz-document url(chrome://browser/content/places/places.xhtml)
{
  :root {
    scrollbar-width: thin !important;
    scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
    --in-content-page-background: #000 !important;
    --organizer-bordeR-color-selected: #181818 !important;
  }

  /*+++++ Bookmark and History View inside Library View +++++*/

  /*Top Navigation Bar inside Library View*/

  #placesMenu {
    font-family: Fira Sans !important;
  }

  #placesToolbar,
  .tree-bodybox {
    background-color: #000 !important;
    border: 0 !important;
  }

  /*Splitter*/
  #placesView > splitter {
    border-inline-end: 0px !important;
  }

  /*Tree Column Heading*/
  #placeContentColumns {
    height: 25px !important;
    font-variant-caps: petite-caps !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
    text-align: center !important;
  }

  #contentView treecol {
    border-inline-end: 0 !important;
    background: #000 !important;
  }

  /*Items*/
  treechildren {
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
    margin-top: 5px !important;
    background-color: #000 !important;
  }

  treechildren:hover {
    background-color: #000 !important;
  }

  /*Shift Items slightly to left*/
  treechildren::-moz-tree-row {
    margin-left: -10px !important;
  }

  /*Details Pane on Bottom*/
  #detailsPane {
    background-color: #000 !important;
    color: #fff !important;
    border-top: 0px solid #000 !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  /*Remove Tags and Keyword Field Info from Details Pane*/
  #keyword-field-info,
  #tags-field-info {
    display: none !important;
  }

  /*Remove folder icons*/
  treechildren::-moz-tree-image(container) {
    list-style-image: none !important;
  }

  /*Make website favicons smaller*/
  treechildren::-moz-tree-image {
    width: 12px !important;
    height: 12px !important;
  }

  /*Reduce left indentation of sub-folders*/
  treechildren::-moz-tree-indentation {
    width: 10px !important;
  }

  /*Make twisty icons smaller, and reduce their right margins*/
  treechildren::-moz-tree-twisty {
    width: 7px !important;
    height: auto !important;
    padding-inline: 3px !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M3.75 11.5a1 1 0 01-.75-.29 1 1 0 010-1.42L6.84 6 3 2.21A1 1 0 014.46.79L9 5.29a1 1 0 010 1.42l-4.5 4.5a1 1 0 01-.75.29z' fill='context-fill'/></svg>") !important;
  }

  treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(closed) {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M8.25 11.5a1 1 0 00.75-.29 1 1 0 000-1.42L5.16 6 9 2.21A1 1 0 007.54.79L3 5.29a1 1 0 000 1.42l4.5 4.5a1 1 0 00.75.29z' fill='context-fill'/></svg>") !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
  }

  treechildren::-moz-tree-twisty(open) {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M11.5 3.75a1 1 0 00-.29-.75 1 1 0 00-1.42 0L6 6.84 2.21 3A1 1 0 00.79 4.46L5.29 9a1 1 0 001.42 0l4.5-4.5a1 1 0 00.29-.75z' fill='context-fill'/></svg>") !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
  }

  /*+++++ Downloads View inside Library View +++++*/

  /*Background of Downloads Box*/
  #downloadsRichListBox,
  .downloadMainArea {
    background: #000 !important;
  }

  /*Clear Downloads Button on top*/
  #clearDownloadsButton {
    color: #fff !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  #clearDownloadsButton[disabled] {
    color: rgb(180, 180, 180) !important;
  }

  /*Downloading/Downloaded Item*/
  .downloadTarget {
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
    margin-top: -10px;
    -moz-appearance: none !important;
  }

  /*Remove Background Image and Outline from selected item*/
  #downloadsRichListBox > richlistitem[selected] {
    background-image: none !important;
    border-radius: 0px !important;
    outline: 0px solid rgb(124, 163, 206) !important;
  }

  /*Downloads Progress Bar*/
  .downloadProgress {
    height: 3px !important;
    background-color: blue !important;
    border: 0px !important;
  }

  .downloadProgress::-moz-progress-bar {
    background-color: red !important;
  }

  .downloadProgress[paused]::-moz-progress-bar {
    background-color: #404040 !important;
  }

  .downloadProgress:not([value="0"])::-moz-progress-bar {
    margin: 0px !important;
    height: 3px !important;
  }

  /*Fix for Download Item overflowing on the right, due to position of cancel, retry buttons fixed in DownloadsMenu.css*/
  .downloadContainer {
    margin-inline-end: 0px !important;
  }

  /*Remove buttons on right (cancel, open folder)*/
  #downloadsRichListBox > richlistitem button {
    -moz-user-focus: none;
    display: none !important;
  }

  /*Icon for Download Type*/
  .downloadTypeIcon {
    display: none !important;
  }

  /*Details of Downloading item*/
  #downloadsSummaryDetails,
  .downloadDetails {
    font-size: 1.2rem !important;
    font-variant: all-small-caps !important;
    margin-bottom: -1px !important;
    margin-top: 2px !important;
  }

  /*Expander buttons*/
  .expander-up,
  .expander-down {
    transform: scale(0.7) !important;
    border: 0 !important;
    background: #000 !important;
  }

  /*+++++ Treechildren +++++*/

  /*Specify colors on hover and focus*/
  treechildren::-moz-tree-row(selected) {
    background-color: #000 !important;
    color: #fff !important;
  }

  treechildren::-moz-tree-row(hover) {
    background-color: #000 !important;
    color: #fff !important;
  }

  /*Remove borders and outlines*/
  treechildren::-moz-tree-row(selected),
  treechildren::-moz-tree-cell(selected),
  treechildren::-moz-tree-row(hover) {
    outline: none !important;
    border: none !important;
  }

  /*Modify Autocomplete Textboxes*/
  .autocomplete-richlistbox > richlistitem {
    background-color: #000 !important;
    color: #fff !important;
  }

  richlistitem[selected="true"] {
    background-color: #000 !important;
    color: #fff !important;
  }

  /*+++++ Search Boxes +++++*/
  #search-box,
  #searchFilter,
  input:not(#urlbar-input) {
    -moz-appearance: none !important;
    background-color: #000 !important;
    padding: 2px !important;
    color: white !important;
    border: 1px solid #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  /*Clear button in search boxes*/
  .textbox-search-clear {
    list-style-image: url(chrome://global/skin/icons/searchfield-cancel.svg);
    filter: invert(1) !important;
  }

  /*Autocomplete list that appears on typing existing tags*/
  #editBMPanel_tagsAutocomplete {
    border: 1px solid #181818 !important;
    padding: 5px !important;
    background: #000 !important;
  }

  /*Modify Tag list*/
  #editBMPanel_tagsSelector {
    font-family: "Fira Sans" !important;
    font-size: 1.05rem !important;
    background: #000 !important;
    color: #fff !important;
    outline: 0px !important;
    -moz-appearance: none !important;
  }

  /*Modify Tag list checkbox*/
  #editBMPanel_tagsSelector > richlistitem > image {
    border: 1px solid #fff !important;
    background: #000 !important;
    filter: invert(1) !important;
    opacity: 0.2 !important;
  }

  #editBMPanel_tagsSelectorExpander {
    background-color: #000 !important;
    -moz-appearance: none !important;
    color: white !important;
  }
}
