/*+++++ READER VIEW +++++*/

@-moz-document url-prefix(about:reader) {
  body,
  body.dark {
    background-color: #000 !important;
    --main-background: #000 !important;
    --main-foreground: #fff !important;
    --toolbar-border: #212121 !important;
    --toolbar-box-shadow: #000 !important;
    --toolbar-button-hover: #141414 !important;
    --toolbar-button-active: #212121 !important;
    --popup-button-active: #212121 !important;
    --popup-bgcolor: #000 !important;
    --popup-button: #141414 !important;
    --popup-line: #212121 !important;
    --selected-background: #212121 !important;
    --link-foreground: #64b5f6 !important;
    --visited-link-foreground: #64b5f6 !important;
    --link-selected-foreground: #fff;
    --opaque-popup-border: #212121 !important;
    --font-value-border: #000 !important;
    --font-color: #fff;
    --icon-fill: #fff;
    --icon-disabled-fill: #ffffff66;
    --tooltip-background: #000 !important;
    --tooltip-foreground: #fff !important;
  }

  body.serif,
  body.serif .remove-button {
    font-family: fira sans !important;
  }

  .toolbar {
    padding-block: 0px !important;
    border: 1px solid var(--toolbar-border);
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--toolbar-box-shadow);
    width: 30px !important;
    --inline-padding: 5px !important;
    padding-inline: 5px !important;
    margin-inline-start: 25px !important;
    font-family: Fira Sans !important;
    list-style: none;
    user-select: none;
  }

  .moz-reader-content {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .moz-reader-content a,
  .moz-reader-content code {
    font-family: Fira Sans !important;
  }

  hr {
    border-color: #212121 !important;
  }

  .header > .credits {
    font-size: 0.9em;
    line-height: 1.48em;
    margin: 0 0 10px;
    padding: 0;
    font-style: normal !important;
  }

  .domain-border {
    display: none !important;
  }
}
