/*++++++++++ Tabs and Navbar in ONE-LINE ++++++++++*/
/*Based on https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner.css */

/*Reduce top margin, specify width of NavBar, height of Toolbar, and ToolbarButton Padding in Navigator Toolbox*/
#navigator-toolbox {
  --uc-navigationbar-width: 50vw;
  --uc-toolbar-height: 32px !important;
  --uc-urlbar-min-width: none;
  --toolbarbutton-inner-padding: calc(
    (var(--tab-min-height)- 31px) / 2
  ) !important;
  background-color: #000 !important;
  border-bottom: none !important;
  margin-top: -2px !important;
}

/*Specify right margin, top margin, and height for NavBar*/
#navigator-toolbox > #nav-bar {
  margin-right: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height)) !important;
  height: var(--uc-toolbar-height) !important;
  box-shadow: none !important;
}

/*Remove Left Padding, and specify right padding for Navbar. Needed because Hamburger Menu Button is hidden, and hence there is not much space b/w overflow menu button and closest tab*/
:root[tabsintitlebar="true"] #nav-bar {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

/*Reduce Top Margin of Nav Bar Customization Target. This is to fix Icons on NavBar being slightly lower than Icons on TabBar*/
#nav-bar-customization-target {
  margin-top: -4px !important;
}

/*Specify left margin, background, and padding in TabsToolBar*/
#TabsToolbar {
  --toolbarbutton-inner-padding: calc(
    (var(--tab-min-height) - 31px) / 2
  ) !important;
  margin-left: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px;
  background: #000 !important;
}

/*Specify Minimum Height of Tabs*/
#tabbrowser-tabs {
  --tab-min-height: calc(
    var(--uc-toolbar-height) - 2 * var(--proton-tab-block-margin, 0px)
  ) !important;
}

/* prevent urlbar from overflowing in narrow windows */
#main-window:not([sizemode="maximized"]) #urlbar,
#urlbar-container {
  min-width: 0px !important;
}
