/*+++++ Windows Minimize, Maximize, Close Buttons +++++*/

.titlebar-button > .toolbarbutton-icon {
  height: 10px !important;
  min-height: 10px !important;
  width: 10px !important;
  min-width: 10px !important;
}

.titlebar-button {
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 7px !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
  margin-left: 10px !important;
}

/*+++++ Hide Private Browsing Indicator Icons +++++*/

.private-browsing-indicator,
#private-mask.private-browsing-indicator {
  display: none !important;
}

/*+++++ Change background color of sidebar button, when it is active +++++*/

#sidebar-button[checked] > .toolbarbutton-icon {
  background-color: inherit !important;
}

/*+++++ Hide Hamburger Menu Button +++++*/
#PanelUI-button {
  display: none !important;
}

/*Scale Down Toolbar Button Icons*/

.toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 14px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 14px) !important;
}

.webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 14px !important;
  width: 14px !important;
}

/*+++++ Scale down Back, Forward, Stop-Reload, New tab, Reopen Closed Tab, Downloads Buttons +++++*/

#nav-bar
  toolbarbutton:is(#back-button, #forward-button, #stop-button, #reload-button, #nav-bar-overflow-button)
  > .toolbarbutton-icon,
#TabsToolbar
  toolbarbutton:is(#new-tab-button, #tabs-newtab-button)
  > .toolbarbutton-icon {
  width: 18px !important;
  height: 18px !important;
}

#nav-bar toolbarbutton:is(#stop-button) > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}

#nav-bar
  toolbarbutton:is(#stop-reload-button > #stop-button, #stop-reload-button
    > #reload-button)
  > .toolbarbutton-icon {
  margin-top: -2px !important;
}

#_4853d046-c5a3-436b-bc36-220fd935ee1d_-browser-action .toolbarbutton-icon {
  width: 12px !important;
  height: 12px !important;
}

#TabsToolbar
  toolbarbutton:is(#downloads-button)
  > .toolbarbutton-badge-stack
  > box {
  min-width: 14px !important;
  min-height: 14px !important;
  width: 14px !important;
  height: 14px !important;
}

/*Scale Down Tracking Protection Icon*/
.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#blocked-permissions-container > .blocked-permission-icon {
  width: 13px !important;
  height: 13px !important;
}

/*+++++ Invert Colors of RES UrlBar Icon +++++*/
#pageAction-urlbar-jid1-xufzosoflzsoxg_jetpack {
  filter: invert(1) !important;
}
