/*+++++ ALL TABS VIEW +++++*/
/*Also modified by allTabsMenuExpansionPack.uc.js*/

/*Modify Minimum and Maximum Width*/
#customizationui-widget-multiview panelview:not([extension]) {
  min-width: 22.35em !important;
  max-width: 90em !important;
}

#allTabsMenu-allTabsViewTabs {
  --moz-appearance: none !important;
  font-family: "Fira Sans" !important;
  min-width: 40em !important;
  max-width: 40em !important;
}

/*Increase Top margin of Search Tabs Option*/
#allTabsMenu-searchTabs {
  margin-top: 5px !important;
}

/*Number the tabs*/
.all-tabs-button::before {
  content: counter(nth-tab) " " !important;
  counter-increment: nth-tab !important;
  display: block !important;
  margin-right: 5px !important;
  width: 20px !important;
  margin-left: 5px !important;
}

.all-tabs-item:first-child {
  counter-reset: nth-tab 0 !important;
}

/*Tab Height*/
.all-tabs-item {
  /*font-size: 1rem !important;*/
  height: 26px !important;
}
