/*+++++ Overflow Menu +++++*/

/*Reduce Width of menu*/
#widget-overflow-mainView {
  min-width: 20em !important;
  max-width: 20em !important;
}

/*Specify font-face and size for menu items*/
/*Font size for Panel Headings is specified universally in global-rules.css*/
.cui-widget-panel,
#widget-overflow {
  font-family: "Fira Sans" !important;
}

.widget-overflow-list .toolbarbutton-text {
  font-size: 1.05rem !important;
}

/*Make width of addons consistent with width of overflow menu*/
#PanelUI-webext-cookieautodelete_kennydo_com-browser-action-view,
#PanelUI-webext-user-agent-switcher_ninetailed_ninja-browser-action-view {
  width: 20em !important;
}

/*Remove customize button on bottom*/
#overflowMenu-customize-button {
  display: none !important;
}

/*Make min-height of addon popups in overflow menu 0, to avoid needless blank space*/

#widget-overflow .webextension-popup-browser {
  background-color: var(--Dark_BackgroundColor) !important;
  min-height: 0% !important;
}

/*Remove separator*/
#widget-overflow-mainView > toolbarseparator {
  display: none !important;
}

/*Scale down those ugly TWISTY ICONS*/
/*Also scales twisty icons in Hamburger Menu*/

.widget-overflow-list .subviewbutton-nav::after,
.PanelUI-subView .subviewbutton-nav::after {
  -moz-context-properties: fill, fill-opacity;
  content: url(chrome://global/skin/icons/menu-arrow.svg);
  fill: currentColor;
  fill-opacity: 0.6;
  display: -moz-box;
  transform: scale(0.6) !important;
}
