/*+++++ Tracking Protection Popup +++++*/

/*Specify font face, and reduce menu width*/
#protections-popup {
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  width: 290px !important;
  --popup-width: 290px !important;
}

#protections-popup-mainView {
  min-width: 280px !important;
  max-width: 280px !important;
}

/*Make header compact*/
#protections-popup-mainView-panel-header {
  min-height: 32px !important;
  height: 32px !important;
  margin-top: -3px !important;
  margin-bottom: 2px !important;
}

/*Remove Info Button next to header*/
#protections-popup-info-button {
  display: none !important;
}

/*Center Align Header label*/
#protections-popup-mainView-panel-header-span {
  margin-inline-start: 0px !important;
}

#protections-popup-mainView-panel-header-span,
#protections-popup-toast-panel-tp-on-desc,
#protections-popup-toast-panel-tp-off-desc,
#protections-popup .panel-header > h1 > span {
  max-width: 250px !important;
}

/*Gradient toolbarseparator below Panel Header*/
#protections-popup-mainView-panel-header-section + toolbarseparator {
  border-top: 2px solid transparent !important;
  border-image: 2
    linear-gradient(270deg, #004e92 0%, #aa076b 52.08%, #dc2430 100%) !important;
}

/*Reduce size of block switch, and change its color*/
.protections-popup-tp-switch-box {
  transform: scale(0.6) !important;
  margin-top: -17px !important;
}

.protections-popup-tp-switch[enabled] {
  background-color: #404040 !important;
}

/*Reduce size of item icons on left, modify their color*/
.protections-popup-category-icon,
.permission-popup-permission-icon {
  width: 14px !important;
  height: 14px !important;
}

.protections-popup-category-icon.thirdpartycookies-icon {
  fill: var(--Dark_BackgroundColor) 0ff !important;
}

.protections-popup-category-icon.socialblock-icon {
  fill: #ff0000 !important;
}

/*Reduce frivolous margins on items*/
#protections-popup-category-list > toolbarbutton {
  margin-top: -5px !important;
}

/*Remove margins around no trackers description*/
#protections-popup-no-trackers-found-description {
  margin: 0 !important;
  font-size: 1em !important;
}

/*Make bottom margin of 'blocked' content box in the middle null*/
#protections-popup-content {
  margin-bottom: 0px !important;
}

/*Shift footer buttons upwards*/
#protections-popup-footer > toolbarbutton {
  margin-top: -5px !important;
}

/*Make Blocked Trackers count prominent*/
#protections-popup-trackers-blocked-counter-description {
  color: gold !important;
}

/*Remove separators and borders from subviews*/
#protections-popup-cookiesView-heading + toolbarseparator {
  display: none !important;
}

#protections-popup .panel-footer.panel-footer-menulike {
  border-top: 0 !important;
}
