/*++++++++++ Bookmarks Toolbar ++++++++++*/

/*Remove Import Bookmarks Button*/

#PersonalToolbar #import-button {
  font-family: "Fira Sans" !important;
  font-size: 0.95rem !important;
  display: none !important;
}

/*Remove Other Bookmarks Button*/
#PlacesToolbar #OtherBookmarks {
  display: none !important;
}

/*Change Font*/
toolbarbutton.bookmark-item:not(.subviewbutton) {
  font-family: "Fira Sans" !important;
  font-size: 13px !important;
}

/*Reduce Size of icons*/
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon,
#OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon {
  width: 12px !important;
  height: 12px !important;
  margin-top: -2px !important;
}

/* Makes bookmarks toolbar appear vertically at the right side of the window */
/*https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/vertical_bookmarks_toolbar.css*/

@-moz-document url(chrome://browser/content/browser.xhtml)
{
  :root:not([inDOMFullscreen]) {
    --uc-vertical-toolbar-width: 180px;
  }

  #PersonalToolbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: var(--uc-vertical-toolbar-width, 0);
    height: 100vh;
    max-height: 100vh !important;
    padding-bottom: 120px !important;
    padding-top: 10px !important;
  }

  #personal-bookmarks {
    overflow-y: auto;
    scrollbar-width: none;
  }

  #PersonalToolbar > #personal-bookmarks > #PlacesToolbar > hbox {
    -moz-box-orient: vertical !important;
  }
  #PersonalToolbar #PlacesToolbarItems {
    display: flex;
    flex-direction: column;
  }

  #PersonalToolbar .toolbarbutton-1 {
    padding-block: 10px !important;
  }

  #PersonalToolbar #PlacesToolbarItems > .bookmark-item {
    padding-block: 2px !important;
  }

  body > #browser,
  body > #browser-bottombox,
  #customization-container {
    margin-right: 1px !important;
  }

  /*Autohide Vertical Bookmarks Bar*/
  #PersonalToolbar {
    -moz-window-dragging: no-drag;
  }

  #PersonalToolbar:hover {
    z-index: 2;
  }
}

/*Move Bookmark Item Text to Left, specify right margin, and make it right-aligned*/
#PersonalToolbar #import-button > .toolbarbutton-text,
#PersonalToolbar .bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
  text-align: right !important;
  -moz-box-ordinal-group: 0 !important;
  margin-right: 10px !important;
}

/*Increase Maximum width of items on Bookmarks Bar*/
toolbarbutton.bookmark-item:not(.subviewbutton) {
  max-width: 170px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* Add divider to vertical bookmarksbar*/
#PersonalToolbar {
  border-inline: 1px solid var(--Dark_ActiveColor);
  border-inline-width: 1px 0px;
}

/*Add a 'Bookmarks Header' to Bookmarks Sidebar*/
#PlacesToolbarItems::before {
  display: block !important;
  margin: 10px !important;
  margin-bottom: 15px !important;
  margin-right: 8px !important;
  content: "Bookmarks" !important;
  color: var(--Dark_TextColor) !important;
  background: transparent !important;
  font-size: 14px !important;
  font-family: Fira Sans !important;
  text-align: right !important;
  font-variant-caps: petite-caps !important;
}
