/*+++++ Also Styles most of History Sidebar +++++*/

/*Modify color of Items (to avoid glare from pure white text)*/
.sidebar-panel treechildren::-moz-tree-cell-text {
  color: rgb(221, 226, 234) !important;
}

.sidebar-panel treechildren::-moz-tree-row(hover) {
  color: inherit !important;
}

/*Shift Items slightly to left*/
.sidebar-panel treechildren::-moz-tree-row {
  margin-left: -10px !important;
}

/*Make website favicons smaller*/
.sidebar-panel treechildren::-moz-tree-image {
  width: 12px !important;
  height: 12px !important;
}

/*Reduce left indentation of sub-folders*/
.sidebar-placesTreechildren::-moz-tree-indentation {
  width: 10px !important;
}

/*Make twisty icons smaller, and reduce their right margins*/
.sidebar-panel treechildren::-moz-tree-twisty {
  width: 7px !important;
  height: auto !important;
  padding-inline: 3px !important;
  margin-right: -15px !important;
  margin-top: -3px !important;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M3.75 11.5a1 1 0 01-.75-.29 1 1 0 010-1.42L6.84 6 3 2.21A1 1 0 014.46.79L9 5.29a1 1 0 010 1.42l-4.5 4.5a1 1 0 01-.75.29z' fill='context-fill'/></svg>") !important;
}

.sidebar-panel treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(closed) {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M8.25 11.5a1 1 0 00.75-.29 1 1 0 000-1.42L5.16 6 9 2.21A1 1 0 007.54.79L3 5.29a1 1 0 000 1.42l4.5 4.5a1 1 0 00.75.29z' fill='context-fill'/></svg>") !important;
  margin-right: -15px !important;
  margin-top: -3px !important;
}

.sidebar-panel treechildren::-moz-tree-twisty(open) {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M11.5 3.75a1 1 0 00-.29-.75 1 1 0 00-1.42 0L6 6.84 2.21 3A1 1 0 00.79 4.46L5.29 9a1 1 0 001.42 0l4.5-4.5a1 1 0 00.29-.75z' fill='context-fill'/></svg>") !important;
  margin-right: -15px !important;
  margin-top: -3px !important;
}
