/*++++++++++ Bookmarks Toolbar ++++++++++*/

/*Remove Import Bookmarks Button*/

#PersonalToolbar #import-button {
  font-family: "Fira Sans" !important;
  font-size: 1rem !important;
  display: none !important;
}

/*Change Font*/
toolbarbutton.bookmark-item:not(.subviewbutton) {
  font-family: "Fira Sans" !important;
  font-size: 1rem !important;
}

/*Reduce Size of icons*/
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon,
#OtherBookmarks.bookmark-item[container] > .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
}
