/*++++ Replace context menu labels with compact ones+++++*/

/*Open link in new Temporary Container tab*/
menuitem[label="Open link in new Temporary Container tab"] label {
  display: none !important;
}

menuitem[label="Open link in new Temporary Container tab"]::after {
  content: "Open in Temp Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Tab*/
menuitem[label="Open Link in New Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Tab"]::after {
  content: "Open in Tab" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Unloaded Tab*/
menuitem[label="Open Link in New Unloaded Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Unloaded Tab"]::after {
  content: "Open Discarded" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Private Tab*/
menuitem[label="Open Link in New Private Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Private Tab"]::after {
  content: "Open in Private Tab" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Window*/
menuitem[label="Open Link in New Window"] label {
  display: none !important;
}

menuitem[label="Open Link in New Window"]::after {
  content: "Open in Window" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Private Window"*/
menuitem[label="Open Link in New Private Window"] label {
  display: none !important;
}

menuitem[label="Open Link in New Private Window"]::after {
  content: "Open Incognito" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Bookmark Link*/
menuitem[label="Bookmark Link"] label {
  display: none !important;
}

menuitem[label="Bookmark Link"]::after {
  content: "Bookmark" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Container Tab*/
menu[label="Open Link in New Container Tab"] > label {
  display: none !important;
}

menu[label="Open Link in New Container Tab"]::before {
  content: "Open in Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Firefox Multi-Account Containers*/

menu[label="Firefox Multi-Account Containers"] > label {
  display: none !important;
}

menu[label="Firefox Multi-Account Containers"]::before {
  content: "Manage Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Google Tab*/
menuitem[label="Open Link in New Google Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Google Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Personal Tab*/
menuitem[label="Open Link in New Personal Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Personal Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Work Tab*/
menuitem[label="Open Link in New Work Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Work Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Banking Tab*/
menuitem[label="Open Link in New Banking Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Banking Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}

/*Open Link in New Shopping Tab*/
menuitem[label="Open Link in New Shopping Tab"] label {
  display: none !important;
}

menuitem[label="Open Link in New Shopping Tab"]::after {
  content: "Inherit Container" !important;
  display: -moz-box !important;
  margin-right: 15px !important;
}
