/*+++++ Findbar at bottom +++++*/

/*Remove frivolous padding, and specify font face*/
findbar {
  border-top: 1px solid ThreeDShadow;
  border-top-color: threedshadow;
  padding-block: 0px !important;
  font-family: Fira Sans !important;
}

/*Make background of buttons and textbox transparent*/
.findbar-textbox,
.findbar-find-next,
.findbar-find-previous {
  border: none !important;
  background: transparent !important;
}

/*Background when hovering over buttons*/
.findbar-button:hover {
  background: #000 !important;
}

/*Scale down close icon*/
.findbar-closebutton.tabbable.close-icon {
  transform: scale(0.7) !important;
}

/*Text Selection Color in Findbar*/
.findbar-textbox::selection {
  background-color: #1a237e !important;
  color: #fff !important;
}
