/*+++++ Autocomplete Textboxes +++++*/
.autocomplete-richlistbox > richlistitem {
  background-color: var(--Dark_BackgroundColor) !important;
  color: var(--Dark_TextColor) !important;
}

richlistitem[selected="true"] {
  background-color: var(--Dark_BackgroundColor) !important;
  color: var(--Dark_TextColor) !important;
}

/*+++++ Buttons +++++*/

button {
  -moz-appearance: none !important;
  color: var(--Dark_TextColor) !important;
  background-color: var(--Dark_BackgroundColor) !important;
  border: 1px solid var(--Dark_BorderColor) !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  font-weight: normal !important;
}

button:focus-visible,
select:focus-visible,
input:is([type="checkbox"], [type="color"], [type="radio"]):focus-visible,
menulist:focus-visible,
checkbox:not([native]):focus-visible > .checkbox-check,
radio[focused="true"] > .radio-check,
tab:focus-visible > .tab-middle > .tab-text {
  box-shadow: none !important;
  outline: 0 !important;
  outline-offset: 0 !important;
  -moz-outline-radius: 0 !important;
  margin-top: 0 !important;
  font-family: "Fira Sans" !important;
}

/*+++++ Expander buttons +++++*/
.expander-up,
.expander-down {
  transform: scale(0.7) !important;
  border: 0 !important;
  background: var(--Dark_BackgroundColor) !important;
}

/*+++++ Folder Icons +++++*/

/*Hide icons of folders in treecells*/
treechildren::-moz-tree-image(container) {
  list-style-image: none !important;
}

/*Make remaining folder icons invisible*/
.bookmark-item[container],
.folder-icon {
  fill: var(--Dark_BackgroundColor) !important;
}

/*+++++ Panel headings +++++*/

/*Specify font-face and size*/
.panel-header > h1 > span {
  font-size: 1.15rem !important;
  font-family: Fira Sans !important;
}

/*+++++ Treechildren +++++*/

/*Specify colors on hover and focus*/
treechildren::-moz-tree-row(selected),
treechildren::-moz-tree-row(hover),
treechildren::-moz-tree-row(selected, hover),
treechildren::-moz-tree-cell(selected),
treechildren::-moz-tree-cell(hover),
treechildren::-moz-tree-cell(selected, hover) {
  background-color: var(--Dark_BackgroundColor) !important;
  color: var(--Dark_TextColor) !important;
  outline: none !important;
  border: none !important;
}

/*Remove borders and outlines*/
treechildren::-moz-tree-row(selected),
treechildren::-moz-tree-cell(selected) {
  outline: none !important;
  border: none !important;
}

/*+++++ Search Boxes +++++*/
#search-box,
#searchFilter,
input:not(#urlbar-input) {
  -moz-appearance: none !important;
  background-color: var(--Dark_BackgroundColor) !important;
  padding: 2px !important;
  color: white !important;
  border: 1px solid var(--Dark_BackgroundColor) !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

/*Clear button in search boxes*/
.textbox-search-clear {
  list-style-image: url(chrome://global/skin/icons/searchfield-cancel.svg);
  filter: invert(1) !important;
}
