@-moz-document url(chrome://browser/content/places/places.xhtml)
{
  :root {
    scrollbar-width: thin !important;
    scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
    --in-content-page-background: var(--Dark_BackgroundColor) !important;
    --organizer-bordeR-color-selected: var(--Dark_ActiveColor) !important;
  }

  /*+++++ Bookmark and History View inside Library View +++++*/

  /*Top Navigation Bar inside Library View*/

  #placesMenu {
    font-family: Fira Sans !important;
  }

  #placesToolbar,
  .tree-bodybox {
    background-color: var(--Dark_BackgroundColor) !important;
    border: 0 !important;
  }

  /*Splitter*/
  #placesView > splitter {
    border-inline-end: 0px !important;
  }

  /*Tree Column Heading*/
  #placeContentColumns {
    height: 25px !important;
    font-variant-caps: petite-caps !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
    text-align: left !important;
  }

  #contentView treecol {
    border-inline-end: 0 !important;
    background: var(--Dark_BackgroundColor) !important;
  }

  /*Items*/
  treechildren {
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
    margin-top: 5px !important;
    background-color: var(--Dark_BackgroundColor) !important;
  }

  treechildren:hover {
    background-color: var(--Dark_BackgroundColor) !important;
  }

  /*Shift Items slightly to left*/
  treechildren::-moz-tree-row {
    margin-left: -10px !important;
  }

  /*Details Pane on Bottom*/
  #detailsPane {
    background-color: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
    border-top: 0px solid var(--Dark_BackgroundColor) !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  /*Remove Tags and Keyword Field Info from Details Pane*/
  #keyword-field-info,
  #tags-field-info {
    display: none !important;
  }

  /*Remove folder icons*/
  treechildren::-moz-tree-image(container) {
    list-style-image: none !important;
  }

  /*Make website favicons smaller*/
  treechildren::-moz-tree-image {
    width: 12px !important;
    height: 12px !important;
    margin-left: 10px !important;
    margin-right: 5px !important;
  }

  /*Reduce left indentation of sub-folders*/
  treechildren::-moz-tree-indentation {
    width: 10px !important;
  }

  /*Make twisty icons smaller, and reduce their right margins*/
  treechildren::-moz-tree-twisty {
    width: 7px !important;
    height: auto !important;
    padding-inline: 3px !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M3.75 11.5a1 1 0 01-.75-.29 1 1 0 010-1.42L6.84 6 3 2.21A1 1 0 014.46.79L9 5.29a1 1 0 010 1.42l-4.5 4.5a1 1 0 01-.75.29z' fill='context-fill'/></svg>") !important;
  }

  treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(closed) {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M8.25 11.5a1 1 0 00.75-.29 1 1 0 000-1.42L5.16 6 9 2.21A1 1 0 007.54.79L3 5.29a1 1 0 000 1.42l4.5 4.5a1 1 0 00.75.29z' fill='context-fill'/></svg>") !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
  }

  treechildren::-moz-tree-twisty(open) {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 12 12'><path d='M11.5 3.75a1 1 0 00-.29-.75 1 1 0 00-1.42 0L6 6.84 2.21 3A1 1 0 00.79 4.46L5.29 9a1 1 0 001.42 0l4.5-4.5a1 1 0 00.29-.75z' fill='context-fill'/></svg>") !important;
    margin-right: -15px !important;
    margin-top: -3px !important;
  }

  /*+++++ Downloads View inside Library View +++++*/
  /*Much of it is also styled by DownloadsMenu.css*/

  /*Background of Downloads Box*/
  #downloadsRichListBox,
  .downloadMainArea {
    background: var(--Dark_BackgroundColor) !important;
  }

  /*Clear Downloads Button on top*/
  #clearDownloadsButton {
    color: var(--Dark_TextColor) !important;
    font-size: 1.1rem !important;
    font-family: "Fira Sans" !important;
  }

  #clearDownloadsButton[disabled] {
    color: var(--Dark_DimmedColor) !important;
  }

  /*Downloading/Downloaded Item*/
  .downloadTarget {
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
    margin-top: -10px;
    -moz-appearance: none !important;
  }

  /*Remove Background Image and Outline from selected item*/
  #downloadsRichListBox > richlistitem[selected] {
    background-image: none !important;
    border-radius: 0px !important;
    outline: 0px !important;
  }

  /*Downloads Progress Bar*/
  .downloadProgress {
    height: 3px !important;
    background-color: blue !important;
    border: 0px !important;
  }

  .downloadProgress::-moz-progress-bar {
    background-color: red !important;
  }

  .downloadProgress[paused]::-moz-progress-bar {
    background-color: #404040 !important;
  }

  .downloadProgress:not([value="0"])::-moz-progress-bar {
    margin: 0px !important;
    height: 3px !important;
  }

  /*Fix for Download Item overflowing on the right, due to position of cancel, retry buttons fixed in DownloadsMenu.css*/
  .downloadContainer {
    margin-inline-end: 0px !important;
  }

  /*Remove buttons on right (cancel, open folder)*/
  #downloadsRichListBox > richlistitem button {
    -moz-user-focus: none;
    display: none !important;
  }
}
