@import url(Menus/AllTabsView.css);
@import url(Menus/DownloadsMenu.css);
@import url(Menus/extensionOptionsMenu.css);
@import url(Menus/HamburgerMenu.css);
@import url(Menus/HistoryMenu.css);
@import url(Menus/OverflowMenu.css);
@import url(Menus/TrackingProtectionPopup.css);

/*Push Menu Popups downwards*/
#downloadsPanel,
#widget-overflow,
#appMenu-popup,
#customizationui-widget-panel,
#identity-popup,
#permission-popup,
#protections-popup {
  margin-top: 6px !important;
}

/*Reduce Padding, increase margins, change font*/
menupopup > menuitem,
menupopup > menu {
  padding-block: 3px !important;
  padding-inline-start: 15px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
  color: var(--Dark_TextColor) !important;
  background: var(--Dark_BackgroundColor) !important;
}

/*+++++ Fix for Panel Subview Blank Space and smoothen animations (u/MotherStylus)+++++ */

:root {
  --uc-smooth-timing-function: cubic-bezier(0.07, 0.78, 0.21, 0.95);
  --panel-subview-body-padding-magnitude: 0px !important;
}

/* allow panel height to flex and animate */
.panel-viewstack,
.panel-viewcontainer {
  min-height: revert !important;
}

/* make the animation smoother */
.panel-viewcontainer[panelopen] {
  transition-timing-function: var(--uc-smooth-timing-function) !important;
}

/* without this, the last button in the panel will typically be touching the edge of the panel,
instead of 4px from the edge as it should be. */
/*
toolbarseparator + .panel-subview-body,
.subview-subheader + .panel-subview-body {
  padding-bottom: var(--panel-subview-body-padding-magnitude) !important;
}*/

.panel-header + .panel-subview-body {
  margin-block: var(
    --panel-separator-margin
  ); /* for some reason, the "recently closed tabs" subview doesn't have a separator under the header. simulate one. */
  margin-block-end: 0;
  padding-bottom: 0 !important; /* revert the extra padding from the previous rule on certain panels that don't need it */
  border-top: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent 4px,
    var(--panel-separator-color) 4px,
    var(--panel-separator-color) calc(100% - 4px),
    transparent calc(100% - 4px)
  );
  border-image-slice: 1;
}
