/*++++++++++ SIDEBAR ++++++++++*/

/*Sidebar Border*/
.sidebar-splitter {
  border-color: var(--Dark_ActiveColor) !important;
  display: none !important;
}

/*Sidebar Header*/
#sidebar-box #sidebar-header {
  font-size: 1.15rem !important;
  font-family: "Fira Sans" !important;
  margin-bottom: -5px !important;
  font-variant-caps: petite-caps !important;
}

/*Sidebar Header Icon*/
#sidebar-box > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
  opacity: 0 !important;
}

/*Sidebar Header Title*/
#sidebar-box > #sidebar-header > #sidebar-switcher-target > #sidebar-title {
  margin-left: -25px !important;
}

/*Sidebar Close Button*/
#sidebar-close {
  visibility: collapse !important;
}

/*Sidebar Searh Box*/
#sidebar-search-container #search-box {
  -moz-appearance: none !important;
  background-color: var(--Dark_BackgroundColor) !important;
  color: var(--Dark_TextColor) !important;
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}

/*Sidebar Switcher Popup*/
#sidebarMenu-popup .subviewbutton {
  min-width: 190px;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#sidebar-switcher-target:hover:-moz-lwtheme {
  outline: none !important;
}

/*Specify Background color of sidebar header, search container, bookmark sidebar and history sidebar*/
#sidebar-header,
#sidebar-search-container,
#bookmarksPanel,
#history-panel,
#bookmarks-view-children,
#historyTree {
  color: var(--Dark_TextColor) !important;
  background-color: var(--Dark_BackgroundColor) !important;
  -moz-appearance: none !important;
  border-color: transparent !important;
}

.sidebar-placesTreechildren::-moz-tree-cell(leaf),
.sidebar-placesTreechildren::-moz-tree-image(leaf) {
  display: none !important;
}

#bookmarks-view-children:-moz-tree-image {
  margin-left: 0px !important;
}

.sidebar-placesTree treechildren::-moz-tree-row {
  min-height: 23px !important;
  height: 23px !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text {
  font-size: 1.1rem !important;
  font-family: "Fira Sans" !important;
}

#sidebar-switcher-target:-moz-focusring:not(:hover, [open]),
#sidebar-close:-moz-focusring:not(:hover, [open]) {
  outline: none !important;
}

.panel-subview-body {
  scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  scrollbar-width: thin !important;
}

#permList,
scrollbar {
  scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  scrollbar-width: thin !important;
}

.content-container,
.content-header,
.content-scrollable {
  background: var(--Dark_BackgroundColor) !important;
  font-family: "Fira Sans" !important;
  font-size: 0.9rem !important;
}

.button.sync-prefs {
  font-family: "Fira Sans" !important;
}

/*View Button on History Sidebar*/
#viewButton {
  font-family: "Fira Sans" !important;
  font-size: 0.9rem !important;
}

/* Autohide Sidebar - Show it only when the cursor is over it  */
/*https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css*/

#sidebar-box {
  --uc-sidebar-width: 1px;
  --uc-sidebar-hover-width: 300px;
  --uc-autohide-sidebar-delay: 400ms; /* Wait 0.6s before hiding sidebar */
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 1;
}

#sidebar-box[positionend] {
  direction: rtl;
}
#sidebar-box[positionend] > * {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
  direction: rtl;
}

#main-window[sizemode="fullscreen"] #sidebar-box {
  --uc-sidebar-width: 1px;
}

#sidebar-header {
  overflow: hidden;
}

#sidebar {
  transition: min-width 200ms ease var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box:hover > #sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  /*transition-delay: 0ms !important;*/
  transition: 70ms ease !important;
}

/* Add sidebar divider*/

#sidebar,
#sidebar-header {
  background-color: var(--toolbar-bgcolor) !important;
  border-inline: 1px solid var(--Dark_ActiveColor);
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
  margin-inline: 0px !important;
  border-left-style: solid !important;
}
