@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/tabpanel.html)
{
  body {
    font-family: Fira Sans !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    background-color: #000 !important;
    border: 1px solid #181818 !important;
  }

  .label {
    border-radius: 2px !important;
    font-weight: normal !important;
  }

  .label-success {
    background-color: #263238 !important;
  }

  .label-primary {
    background-color: #1a237e !important;
  }

  .label-warning {
    background-color: #212121 !important;
  }

  .container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/options.html)
{
  html,
  body,
  div {
    background: transparent !important;
    color: #fff !important;
    border: 0 !important;
    font-size: 14px !important;
  }

  input,
  button,
  select,
  textarea {
    background: #1b1b1b !important;
    border: 1px solid #606060 !important;
    padding: 4px !important;
    -moz-appearance: none !important;
  }

  input[type="radio"],
  input[type="checkbox"] {
    filter: invert(1) !important;
  }
}
