/*+++++ BYPASS PAYWALS EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  body {
    background-color: #181818 !important;
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1rem !important;
  }

  div {
    width: 250px !important;
  }
}
