/*+++++ FAST TAB SWITCHER EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  tr {
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 0.8rem !important;
    height: 30px !important;
  }

  #tabs_table {
    width: 97% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  #tabs_table td {
    padding-left: 12px !important;
    width: 200px !important;
    -moz-appearance: none !important;
  }

  img {
    margin-left: -10px !important;
  }

  #search_input {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
    -moz-appearance: none !important;
    font-size: 0.9rem !important;
    font-family: "Fira Sans" !important;
    margin: 5px !important;
  }

  #search_input:focus-visible {
    outline: none !important;
  }

  .tabs_table__selected {
    color: white;
    background-color: #1a237e !important;
    border-color: #1a237e !important;
  }

  thead {
    display: none !important;
  }
}
