/*+++++ FEED BRO +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  * {
    font-family: Fira Sans !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/mainmenu.html)
{
  body {
    width: 500px !important;
    margin: 5px 0px 5px 0px;
    background-color: #000 !important;
    font-family: Fira Sans !important;
    font-size: 0.9rem !important;
    overflow: hidden;
    font-weight: normal !important;
    color: #fff !important;
  }

  div#menuitems div.menuitem {
    font-size: 0.8em;
    color: #fff !important;
    padding: 4px 28px 4px 26px;
    cursor: pointer;
  }

  div#menuitems div.menuitem:hover {
    background-color: #000 !important;
    color: #fff !important;
  }

  div.divider {
    height: 1px;
    border-bottom: 0 !important;
  }

  div.article-popup table {
    width: 100%;
    background: #000 !important;
    color: #fff !important;
    margin-bottom: 0px !important;
  }

  div.article-popup-title {
    font-size: 0.85rem !important;
    font-weight: normal !important;
    overflow: hidden;
    margin-right: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 420px;
    font-family: Fira Sans !important;
  }

  div.article-popup-feedtitle {
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    max-width: 260px;
    overflow: hidden;
    font-family: Fira Sans !important;
    font-size: 11px !important;
  }

  div#articlelist {
    width: 482px;
    background-color: #000 !important;
  }

  div.article-popup-bottom img {
    transform: scale(0.9) !important;
  }

  div.article-popup {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #000 !important;
  }

  div.article-popup-markread {
    display: none !important;
  }

  a.article-link img,
  div.article-popup-star img {
    filter: invert(0.7) !important;
    display: none !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/reader.html), 
url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/options.html)
{
  div.entry {
    border: 0 !important;
    padding: 10px 20px 10px 20px !important;
    margin-bottom: 30px !important;
    margin-right: 2px;
    overflow: hidden;
    outline: none;
    background-color: #000 !important;
    color: #fff !important;
  }

  div.entry-title {
    font-size: 1.6em !important;
    margin-bottom: 15px !important;
  }

  .entry-link {
    color: #fff !important;
  }

  .entry-bloglink-a {
    text-decoration: none;
    color: #64b5f6 !important;
  }

  div.entry-date {
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 15px 0px 15px;
    color: #fff !important;
  }

  a {
    color: #64b5f6 !important;
  }

  div#feed {
    background-color: #000 !important;
  }

  div#leftpane {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 0.9rem !important;
  }

  div.node {
    overflow: hidden;
    width: 100%;
    color: #fff !important;
    background: #000 !important;
  }

  div.node-text {
    font-size: 0.8rem !important;
    margin-top: 5px !important;
  }

  .treeFeedIcon {
    margin-right: 10px !important;
    width: 16px !important;
    height: 18px !important;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-left: 2px;
  }

  div.node-unread {
    font-size: 0.7rem !important;
    color: #fff !important;
    margin-top: 7px !important;
  }

  div#dragbar1 {
    border-left: 2px solid #000 !important;
  }

  .noPrint {
    border: 0 !important;
  }

  div.imagebutton {
    background-color: #000 !important;
    transform: scale(0.8) !important;
  }

  div#ruleform select,
  div#rulesimulationform select,
  div#toolbar select,
  div#results select,
  div#feeddialog select,
  table.settings select {
    -webkit-appearance: none;
    -webkit-padding-end: 25px;
    -webkit-padding-start: 3px;
    -moz-appearance: none !important;
    border: 1px solid #212121 !important;
    border-bottom: 1px solid #212121 !important;
    background-color: #000 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: #fff !important;
  }

  div.active-mode {
    border: 1px solid #212121 !important;
    background-color: #181818 !important;
  }

  div#feeddialog {
    border: 1px solid #212121 !important;
    padding: 0px;
    margin: 10px;
    display: none;
    background-color: #000 !important;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    color: #fff !important;
  }

  .alertify-buttons {
    padding: 15px 25px 15px;
    background: #000 !important;
    border-top: 0 !important;
    border-radius: 0 0 6px 6px;
    box-shadow: none !important;
    text-align: right;
    color: #fff !important;
  }

  .alertify-button-cancel,
  .alertify-button-cancel:hover,
  .alertify-button-cancel:focus,
  .alertify-button-cancel:active {
    text-shadow: none !important;
    color: #fff !important;
    background: #000 !important;
    border: 1px solid #212121 !important;
    box-shadow: none !important;
  }

  div#feeddialog input[type="text"],
  div#feeddialog input[type="password"] {
    border: 1px solid #212121 !important;
    border-bottom: 1px solid #212121 !important;
    padding: 2px 3px 2px 3px;
    background-color: #000 !important;
    height: 23px;
    font-size: 13px;
    color: #fff !important;
    -moz-appearance: none !important;
  }

  .uibutton {
    border: 1px solid #212121 !important;
    color: #fff !important;
    background-color: #000 !important;
  }

  .uibutton:hover,
  .uibutton:focus,
  .uibutton:active {
    border-color: #212121 !important;
  }

  .alertify {
    background: #000 !important;
    color: #fff !important;
  }

  .alertify-text {
    color: #fff !important;
    padding: 8px;
    background-color: #000 !important;
    border: 1px solid #212121 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .feedfinder {
    height: calc(100vh - 33px);
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #212121 !important;
  }

  div#ruleform input[type="text"]:focus,
  div#rulesimulationform input[type="text"]:focus,
  div#feeddialog input[type="text"]:focus,
  div#feeddialog input[type="password"]:focus,
  div#ruleform select:focus,
  div#rulesimulationform select:focus,
  div#feeddialog select:focus,
  .feedFinderControl:focus,
  div#ruleform option:focus,
  div#rulesimulationform option:focus,
  div#feeddialog option:focus,
  select.feedFinderControl option:focus {
    border: 1px solid #212121 !important;
    outline: none;
    -moz-appearance: none !important;
  }

  input.feedFinderControl,
  select.feedFinderControl {
    padding: 4px;
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Roboto,
      Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    background: #000 !important;
    border: 1px solid #212121 !important;
    outline: 0;
    font-size: 12px;
    height: 100%;
    -moz-appearance: none !important;
  }

  .feedSubscribe {
    padding: 5px;
    background-color: #181818 !important;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #212121 !important;
  }

  .feedTitleLink {
    font-size: 0.9rem !important;
  }

  .feedTag {
    font-weight: 700;
    padding: 2px 4px 2px 0px;
    text-decoration: underline;
    color: rgb(180, 180, 180) !important;
    font-size: 11px;
  }

  .previewheader-error {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    margin-bottom: 10px;
    background-color: #000 !important;
    font-size: 1.3em;
    border: 2px solid red !important;
  }

  div#left,
  div#right {
    background-color: #000 !important;
    color: #fff !important;
    border: 0 !important;
    background-image: none !important;
  }

  div#core {
    overflow-y: auto;
    flex: 5;
    padding: 20px;
    color: #fff !important;
    background: #000 !important;
  }

  table.settings td {
    height: 3em !important;
  }

  input.quicktag {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #212121 !important;
    -moz-appearance: none !important;
  }

  a.link-addfolder,
  a.link-addfeed,
  a.link-import,
  a.link-readall,
  a.link-settings,
  a.link-help {
    display: none !important;
  }

  .main-bottomlinks,
  .main-iconset {
    display: none !important;
  }

  td.processed {
    padding: 10px !important;
    padding-right: 50px !important;
  }
}
