/*+++++ Firefox Relay EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  * {
    color: #fff !important;
    font-family: "Fira Sans" !important;
  }

  fx-relay-logotype,
  fx-relay-logomark {
    filter: invert(1) !important;
  }

  .blue-primary-btn {
    background: #000 !important;
    min-width: none !important;
    min-height: none !important;
    padding: 6px 8px !important;
    border-radius: 2px !important;
  }

  .blue-primary-btn:hover {
    background: #181818 !important;
  }
}
