/*+++++ NOTES BY MOZILLA EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/settings/settings.html)
{
  * {
    background: #1b1b1b !important;
    color: #fff !important;
    font-family: Fira Sans !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  html,
  body {
    background: #000 !important;
  }

  button.fullWidth.newNoteBtn,
  a.btn.fullWidth.newNoteBtn {
    border-bottom-color: #212121 !important;
    color: #fff !important;
    font-size: 1.05rem !important;
    font-family: "Fira Sans" !important;
    min-height: 30px !important;
  }

  button.fullWidth:hover,
  a.btn.fullWidth:hover {
    background-color: #181818 !important;
  }

  button.fullWidth.borderBottom,
  a.btn.fullWidth.borderBottom {
    border-bottom: 1px solid #181818 !important;
  }

  .listView ul li button p {
    color: #ccc !important;
    font-size: 1rem !important;
    font-family: "Fira Sans" !important;
  }

  .listView ul li button p strong {
    font-weight: normal !important;
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  button.fullWidth svg,
  a.btn.fullWidth svg {
    vertical-align: middle;
    width: 12px !important;
    filter: invert(100%) !important;
  }

  #footerButtons {
    height: 25px !important;
    background-color: #000 !important;
    border: 1px solid #212121 !important;
  }

  .ck.ck-editor__main > .ck-editor__editable {
    background: #000 !important;
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1rem !important;
  }

  header {
    background-color: #000 !important;
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
    max-height: 30px !important;
    border: 1px solid #212121 !important;
  }

  button.iconBtn svg,
  a.btn.iconBtn svg {
    filter: invert(100%) !important;
  }

  .ck.ck-toolbar {
    background: #000 !important;
  }

  .ck.ck-icon {
    filter: invert(100%) !important;
    transform: scale(80%) !important;
  }

  /*
  .ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button:not(.ck-disabled):focus,
  a.ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):focus {
    background: #181818 !important;
    -moz-appearance: none !important;
  }*/

  .ck.ck-button {
    background: #000 !important;
  }

  .ck-disabled {
    background: #000 !important;
  }

  .ck.ck-button:hover,
  .ck.ck-button:focus {
    background: #181818 !important;
  }

  .photon-menu .wrapper ul {
    max-width: 90vw;
    background-color: #000 !important;
    border: 1px solid #212121 !important;
    color: #fff !important;
  }

  .photon-menu .wrapper ul li button {
    color: #fff !important;
    font-family: "Fira Sans" !important;
    font-size: 1rem !important;
  }
}
