@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  * {
    font-family: Fira Sans !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/popup.html)
{
  #sponsorBlockPopupBody {
    background: #000 !important;
    width: 240px !important;
  }

  #sponsorblockPopup {
    font-size: 13px !important;
    width: 240px !important;
    padding: 0px !important;
    text-align: center !important;
  }

  .sidebyside > div#disableExtension {
    width: 100% !important;
  }

  .sidebyside > div#additionalButtons {
    display: none !important;
  }

  .switchBg {
    height: 27px !important;
    border-radius: 5px !important;
  }

  .switchBg.green {
    background: #fc9867 !important;
  }

  .switchDot {
    height: 15px !important;
    width: 20px !important;
    border-radius: 5px !important;
  }

  .switchBg.white {
    background: #606060 !important;
  }

  #sponsorBlockPopupLogo {
    height: 18px !important;
    width: 18px !important;
  }

  div.logoText > p {
    font-size: 16px !important;
  }

  .toggleSwitchContainer {
    transform: scale(0.3) !important;
  }

  #sbFooter {
    display: none !important;
  }

  #showNoticeAgain {
    display: none !important;
  }

  .sbHeader.sbSubHeader {
    font-size: 20px;
    display: none !important;
  }

  .sidebyside > #usernameElement,
  .sidebyside > #sponsorTimesContributionsContainer {
    display: none !important;
  }

  #sponsorTimesSkipsDoneContainer {
    width: 160px !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/options/options.html)
{
  body {
    background-color: #000 !important;
  }

  .switch {
    transform: scale(0.5) !important;
  }

  .slider.round {
    border-radius: 0px !important;
  }

  .slider.round::before {
    border-radius: 0 !important;
  }

  #title {
    background-color: #000 !important;
    font-size: 22px !important;
    color: #fff !important;
    padding: 5px !important;
    font-variant-caps: petite-caps !important;
  }

  .profilepic {
    background-color: transparent !important;
    vertical-align: middle;
    transform: scale(0.3) !important;
  }

  .createdBy,
  h1 {
    display: none !important;
  }

  #options {
    max-width: 40% !important;
    margin: auto !important;
  }

  .categoryOptionsSelector {
    border-radius: 1px !important;
  }

  .option-button {
    padding: 5px !important;
    border-radius: 1px !important;
  }

  input {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #212121 !important;
    padding: 5px !important;
    -moz-appearance: none !important;
  }

  td {
    padding-bottom: 10px !important;
  }
}
