/*+++++ Tabs Aside (like Microsoft Edge) Exension +++++*/

.tabsAside.pane {
  background-color: #000 !important;
  border: 0 !important;
}

.tabsAside.pane section {
  background-color: #000 !important;
}

.tabsAside[darkmode] .pane .collectionSet {
  background-color: #000 !important;
  border-color: #000 !important;
}

.tabsAside[darkmode] .pane header {
  background-color: #000 !important;
}

.tabsAside[darkmode] .pane .collectionSet > .set > div > div {
  background-color: #000 !important;
}

.tabsAside {
  font-family: "Fira Sans" !important;
  font-size: 1rem !important;
}

.tabsAside[darkmode] .pane header {
  background-color: #000 !important;
}

.collectionSet > .set > div > div > span {
  font-size: 13px !important;
}

.tabsAside.pane > header {
  padding: 14px 20px 1px 20px !important;
}

.tabsAside[darkmode] .collectionSet > .header > input {
  font-size: 0.95rem !important;
  font-weight: 400 !important;
  font-family: "Fira Sans" !important;
}

.tabsAside[darkmode] .collectionSet > .header > input:hover {
  border: 0px solid dimgray !important;
}

.tabsAside[listview] .collectionSet > .set {
  margin-left: 40px !important;
}

.tabsAside[darkmode] .pane .collectionSet > .set > div {
  border-color: #000 !important;
}
