/*------ TEMPORARY CONTAINERS ADDON ------*/
@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  html,
  body,
  .dropdown.selection,
  .menu .item,
  .ui.menu {
    background: #000 !important;
  }

  input[type="text"],
  #scriptCode {
    background-color: #000 !important;
    border: 1px solid #181818 !important;
    color: #fff !important;
  }

  input[type="text"]:focus,
  #scriptCode:focus {
    border: 1px solid #181818 !important;
  }

  .ui.segment,
  .pusher {
    background: #000 !important;
    color: #ccc !important;
  }

  .ui.segment.active,
  .item.active {
    background: #181818 !important;
  }
  .item,
  label,
  h4,
  h3 {
    color: #ccc !important;
  }
  .item.active,
  .dropdown.selection,
  .text,
  .label {
    color: #fff !important;
  }

  .item:not(.active):hover {
    background: #181818 !important;
  }

  .ui.selection.dropdown .menu > .item,
  .ui.tabular.menu,
  .ui.menu,
  .item.active,
  .ui.popup,
  .ui.segment {
    border-color: #000 !important;
  }

  .ui.negative.message {
    background-color: #533 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0px #c33 inset, 0 0 0 0 transparent !important;
  }

  .ui.notice.message,
  .ui.tiny.button {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #ccc !important;
  }

  .ui.tiny.button:hover {
    background-color: #000 !important;
    color: #fff !important;
  }

  .ui.notice.message a:link,
  .ui.notice.message a {
    color: rgb(0, 82, 136) !important;
  }
  .ui.notice.message a:visited {
    color: #7e0077 !important;
  }
  .ui.notice.message a:hover {
    color: rgb(0, 82, 136) !important;
  }
  .ui.notice.message a:active {
    color: rgb(0, 82, 136) !important;
  }

  #tmpButton svg {
    filter: invert(90%) !important;
  }

  label::before,
  .ui.popup {
    filter: invert(75%);
  }
}
