/*+++++ UMATRIX EXTENSION +++++*/

/*UMATRIX ADDON COMMON SECTION*/
@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  body,
  html,
  .paneHead {
    background: #000 !important;
    color: #fff !important;
  }

  #noTabFound {
    font-size: 18px !important;
    font-variant-caps: petite-caps !important;
  }

  #matList {
    transform: scale(0.99) !important;
    margin-right: 10px !important;
  }

  #matHead {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-left: -7px !important;
  }

  * {
    scrollbar-width: none !important;
  }

  #gotoDashboard {
    background-color: #000 !important;
    font-size: 0.9rem !important;
    font-family: "Fira Sans" !important;
    margin: 10px !important;
  }

  .paneContent {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  body,
  .paneHead {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  #specificScope.on {
    background-color: #000 !important;
    border-color: #000 !important;
  }

  #dashboard-nav-widgets {
    background-color: #000 !important;
    border-bottom-color: #181818 !important;
  }

  #dashboard-nav-widgets .tabButton {
    color: #aaa !important;
    background-color: #000 !important;
    border-color: #181818 !important;
  }

  #dashboard-nav-widgets .tabButton.selected {
    color: #fff !important;
    background-color: #000 !important;
    border-bottom-color: #000 !important;
  }

  #domainOnly {
    background-color: #000 !important;
    border: none !important;
  }

  #domainOnly:not(:hover) {
    opacity: 0.9 !important;
  }

  a:not(.tabButton):not(#gotoDashboard):link {
    color: #09f !important;
  }
  a:not(.tabButton):not(#gotoDashboard):visited {
    color: #0070aa !important;
  }
  a:not(.tabButton):not(#gotoDashboard):hover {
    color: #0bf !important;
  }
  a:not(.tabButton):not(#gotoDashboard):active {
    color: #0050aa !important;
  }

  .fa-icon:not(#mtxSwitch_matrix-off) {
    fill: #ccc !important;
  }

  .fa-icon:hover {
    background-color: transparent !important;
  }

  #warningSign .fa-icon {
    fill: #f2a500 !important;
  }

  #warningSign {
    margin: 1e, 0;
    opacity: 1;
    pointer-events: none;
    width: 100%;
    transform: scale(0.4) !important;
  }

  #mtxSwitch_matrix-off:not(.switchTrue) {
    fill: #ff5722 !important;
  }

  .toolbar .fa-icon {
    cursor: pointer;
    font-size: 100% !important;
    padding: 10px !important;
  }

  .dropdown-menu ul {
    background-color: #000 !important;
    border-color: #212121 !important;
  }

  .dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  .dropdown-menu li.switchTrue {
    color: #fff !important;
  }
  .dropdown-menu li:not(.switchTrue) {
    color: #aaa !important;
  }
  .dropdown-menu span {
    color: #fff !important;
  }

  #mtxSwitches .off ellipse[style] {
    fill: #777 !important;
  }

  .matrix .g4Meta {
    filter: invert(100%);
  }

  button:not(#buttonUpdate) {
    background: #000 !important;
    border-color: transparent !important;
    border-radius: 3px;
    color: #ddd !important;
    fill: #ddd !important;
  }

  button:not(#buttonUpdate):hover,
  #domainOnly:hover {
    background: #181818 !important;
    color: #fff !important;
  }

  button[disabled] {
    opacity: 0.7 !important;
  }

  #buttonUpdate {
    background: #ffbb33 !important;
    border-color: transparent !important;
    color: #000 !important;
  }

  #buttonUpdate:hover {
    background: #cc8800 !important;
  }

  button[type="button"] {
    -moz-appearance: none !important;
  }

  .assets {
    border-color: #303030 !important;
  }

  div[data-i18n="assetsRecipesSection"],
  div[data-i18n="assetsHostsSection"] {
    background-color: #303030 !important;
  }

  .cm-search-widget,
  .CodeMirror-gutters,
  .CodeMirror-merge-gap {
    background: #000 !important;
    border: none !important;
  }

  .cm-search-widget {
    border-bottom: 1px solid #000 !important;
  }

  .CodeMirror,
  .CodeMirror-merge,
  .cm-search-widget input {
    -moz-appearance: none !important;
    background: #303030 !important;
    color: #aaa !important;
    border: none !important;
  }

  .CodeMirror-activeline-background {
    background: #033 !important;
  }

  .cm-staticext {
    color: #0aa !important;
  }
  .cm-builtin {
    color: #07f !important;
  }
  .cm-keyword {
    color: rgb(250, 40, 100) !important;
  }

  .CodeMirror-selected,
  .CodeMirror-line *::selection {
    background: rgb(10, 133, 133) !important;
  }

  .cm-comment {
    color: #aaa !important;
  }
  .CodeMirror-cursor {
    border-left-color: #212121 !important;
  }
  .cm-staticnetBlock {
    color: #f62 !important;
  }
  .cm-staticOpt {
    background-color: #000 !important;
  }

  textarea,
  input[type="text"],
  input[type="search"] {
    -moz-appearance: none !important;
    background-color: #000 !important;
    color: #aaa !important;
    border: 1px solid #212121 !important;
  }

  code,
  .fa-icon-badge {
    background-color: #000 !important;
    color: #fff !important;
  }

  .CodeMirror-code > div:nth-child(odd),
  .CodeMirror-code > pre:nth-child(odd) {
    background-color: #000 !important;
  }
  .CodeMirror-code > div:nth-child(even),
  .CodeMirror-code > pre:nth-child(even) {
    background-color: #000 !important;
  }

  #specificScope span[data-scope]:not(.on),
  #globalScope:not(.on),
  #specificScope.scope:not(.on) {
    background-color: #000 !important;
  }
  #specificScope span[data-scope].on,
  #globalScope.on {
    background-color: #000 !important;
    border-top: 2px solid #ff5722 !important;
  }
  #globalScope:not(.on),
  #specificScope.scope:not(.on) {
    border-color: #000 !important;
  }

  #buttonReload:hover,
  #buttonRevertAll:hover,
  .scopeRel:hover,
  .toolbar span[data-extension-url="logger-ui.html"]:hover {
    background-color: #000 !important;
  }

  body:not(.colorblind) .t82 {
    background-color: #212121 !important;
  }

  .matCell.p82,
  .matCell.p81 {
    background-image: none !important;
  }

  .matRow.rw .matCell {
    cursor: pointer;
    overflow: clip !important;
  }

  body:not(.colorblind) .t2 {
    background-color: #000 !important;
  }

  .t2,
  .t1 {
    color: #fff !important;
  }

  #whitelist,
  #whitelist:hover {
    opacity: 1 !important;
    background: #212121 !important;
  }

  #blacklist,
  #blacklist:hover {
    opacity: 1 !important;
    background: #4d0000 !important;
  }

  #matHead {
    border-top: 1px solid #181818 !important;
    margin-top: 10px !important;
  }

  .matCell {
    border: 1px solid #000 !important;
    margin: 1px !important;
    font-size: 0.95em;
    box-sizing: content-box;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    line-height: 60% !important;
    padding: 6px 2px;
    position: relative;
    width: 2.2em !important;
  }

  body.powerOff .matRow.rw .matCell {
    cursor: auto;
    opacity: 0.4 !important;
  }

  body:not(.colorblind) .t81 {
    background-color: #4d0000 !important;
  }
  body:not(.colorblind) .t1 {
    background-color: hsl(0, 35%, 18%) !important;
    /*background-color: #02352d !important;*/
  }

  #whitelist,
  #blacklist {
    opacity: 0.5 !important;
  }

  [data-i18n-tip]::after {
    background-color: #000 !important;
    border-color: #212121 !important;
    color: #fff !important;
    box-shadow: 5px 7px 15px 2px #000 !important;
  }

  input[type="number"] {
    -moz-appearance: none !important;
    background: #000 !important;
    border: 1px solid #212121 !important;
    color: #fff !important;
  }

  /* Checkbox coloring */
  input[type="checkbox"] {
    -moz-appearance: none !important;
    border: 1px solid #181818 !important;
    background-color: #303030 !important;
    transition: color 0.3s;
    min-width: 12px;
    min-height: 12px;
    margin-bottom: 0 !important;
  }

  input[type="checkbox"]:not([disabled]):hover {
    box-shadow: 0 0 4px #0084ff !important;
    border-color: #0084ff !important;
  }

  input[type="checkbox"]:checked {
    background: #303030
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="1 3 12 12" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>')
      no-repeat center center !important;
  }

  /* Select boxes coloring */
  select {
    -moz-appearance: none !important;
    background: #000
      url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E")
      no-repeat calc(100% - 5px) 50% !important;
    border: 1px solid #212121 !important;
    padding: 3px 20px 3px 3px !important;
    color: #fff !important;
  }

  select:hover {
    background: #303030
      url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E")
      no-repeat calc(100% - 5px) 50% !important;
    color: #fff !important;
  }

  #parsed {
    background-color: #000 !important;
    border: 0px !important;
    color: #ccc !important;
    font-size: 15px !important;
    overflow-x: hidden;
    padding: 4px;
    text-align: center !important;
    text-overflow: ellipsis;
    font-family: "Fira Sans" !important;
    margin-top: 20px !important;
  }

  .code {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: Fira Sans !important;
    font-size: 16px !important;
    line-height: 1.2;
    padding: 2px 4px;
    word-break: break-all;
  }

  #theURL.hasParams:not(.collapsed) .fa-icon.collapse {
    display: none !important;
  }
}

/*UMATRIX ADDON UI LOGGER PAGE*/
@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/logger-ui.html)
{
  #toolbar,
  #content,
  .dialog,
  #popupPanelContainer {
    background-color: #000 !important;
    border-color: #181818 !important;
  }

  table td,
  #content table tr[data-tabid="-1"] td:nth-of-type(3)::before {
    border-color: #181818 !important;
  }
  table tr:nth-child(odd) {
    background-color: #000 !important;
  }
  table tr:nth-child(even) {
    background-color: #181818 !important;
  }

  tr.cat_info td {
    color: #09f !important;
  }

  .fa-icon:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  #ruleEditor:not(.colorblind) .ruleCell[data-tcolor="130"] {
    background-color: #307430 !important;
  }
  #ruleEditor:not(.colorblind) .ruleCell[data-tcolor="2"] {
    background-color: #667766 !important;
  }

  #ruleEditor:not(.colorblind) .ruleCell[data-tcolor="129"] {
    background-color: #7c1616 !important;
  }
  #ruleEditor:not(.colorblind) .ruleCell[data-tcolor="1"] {
    background-color: #776666 !important;
  }
}
