/*+++++ User Agent Switcher Extension +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/ui/options/index.html)
{
  * {
    font-family: "Fira Sans" !important;
    font-size: 0.9rem !important;
  }

  html,
  body {
    background: transparent !important;
  }

  body > [data-option] {
    border-top: 0 !important;
  }

  input:not([type]),
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="number"],
  textarea {
    -moz-appearance: none !important;
    border-color: transparent !important;
    background-color: transparent !important;
  }

  #entries-view-table > table button {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    transform: scale(0.45) !important;
    filter: invert(1) !important;
    border: 0 !important;
    -moz-appearance: none !important;
  }

  .switch {
    color: #fff !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/ui/popup/index.html)
{
  * {
    font-family: "Fira Sans" !important;
    font-size: 0.9rem !important;
  }

  html,
  body {
    width: auto !important;
    background-color: #000 !important;
  }

  .panel-section-separator {
    display: none !important;
  }

  .panel-list-item {
    height: 15px !important;
    color: rgb(221, 226, 234) !important;
  }

  input {
    filter: invert(1) !important;
    border-radius: 0 !important;
    transform: scale(0.6) !important;
    margin-top: 0px !important;
    -moz-appearance: none !important;
  }

  .panel-section-header.subsection > .text-section-header {
    font-variant-caps: petite-caps !important;
    text-align: center !important;
  }

  #panel-item-preferences {
    display: none !important;
  }

  input[type="number"] {
    transform: scale(0.9) !important;
    margin-top: 5px !important;
    -moz-appearance: none !important;
  }

  select {
    filter: invert(1) !important;
    margin-top: 5px !important;
    transform: scale(0.8) !important;
    -moz-appearance: none !important;
  }

  .panel-section {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  #agent-list {
    margin-top: -20px !important;
  }

  #random-container {
    margin-top: -5px !important;
  }

  #random-container .panel-section {
    margin-top: -5px !important;
  }
}
