/*+++++ WEB ARCHIVES EXTENSION +++++*/

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/)
{
  .mdc-list-item.list-item.mdc-ripple-upgraded {
    color: #fff !important;
    margin-bottom: -20px !important;
    font-size: 0.85rem !important;
  }

  .mdc-list-item__graphic.list-item-icon {
    transform: scale(70%) !important;
    margin-left: -5px !important;
    margin-right: 8px !important;
  }

  #app {
    background-color: #000 !important;
    color: #fff !important;
  }

  title {
    color: #fff !important;
    margin-left: -50px !important;
    margin-bottom: -15px !important;
  }

  .header {
    transform: scale(75%) !important;
    display: none !important;
  }

  .header-buttons {
    display: none !important;
  }

  .list-items {
    padding-bottom: 15px !important;
  }
}

@-moz-document url-prefix(moz-extension://Paste Internal UUID from About:Debugging Here/src/options/index.html)
{
  * {
    color: #fff !important;
    font-family: Fira Sans !important;
  }

  html,
  body {
    background: #000 !important;
  }

  .option-wrap {
    display: grid;
    grid-row-gap: 2px !important;
    padding-top: 10px;
    grid-auto-columns: min-content;
  }

  .mdc-switch {
    transform: scale(0.6) !important;
  }

  .mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
    border-color: #606060 !important;
    border-radius: 5px !important;
  }

  .mdc-checkbox {
    transform: scale(0.8) !important;
  }

  .mdc-list {
    background: #000 !important;
  }

  .mdc-select__selected-text {
    background: black !important;
    border: 1px solid #212121 !important;
  }
}

@-moz-document url-prefix(moz-extension:; //0fa2313d-b38c-4133-b13b-610ca8f0ee98/src/contribute/index.html?action=search)
 {
  * {
    background: #000 !important;
    color: #fff !important;
    font-size: 14px !important;
  }

  .goals-wrap,
  .cta-coin,
  .cta-buttons,
  .title {
    display: none !important;
  }
}
