/* ABOUT:CACHE */

@-moz-document url("about:cache") {
  body {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 1.2rem !important;
    font-family: "Fira Sans" !important;
  }

  a,
  td {
    font-family: "Fira Sans" !important;
  }

  a {
    color: gold !important;
  }
}

@-moz-document url-prefix("about:cache?"), url-prefix("about:cache-entry?") {
  body,
  .aboutPageWideContainer {
    color: #fff !important;
  }

  a {
    color: #64b5f6 !important;
  }

  a,
  td {
    font-family: Fira Sans !important;
  }
}
