/* ABOUT:PROCESSES */

@-moz-document url-prefix("about:processes"),
url-prefix("about:url-classifier") {
  * {
    font-family: "Fira Sans" !important;
    font-size: 0.91rem !important;
  }
}

@-moz-document url-prefix("about:telemetry"),
url-prefix("about:compat"),
url-prefix("about:support"),
url-prefix("about:profiles"),
url-prefix("about:networking"),
url-prefix("about:logins") {
  * {
    font-family: "Fira Sans" !important;
  }
}
