/* ABOUT:PERFORMANCE */

@-moz-document url-prefix("about:performance") {
  #dispatch-table {
    background-color: #000 !important;
    font-size: 1.05rem !important;
    font-family: "Fira Sans" !important;
  }

  #dispatch-thead > tr > td.clickable:hover {
    background-color: #242424 !important;
  }

  #dispatch-thead > tr > td {
    background-color: #000 !important;
    font-size: 1.3rem !important;
    font-variant-caps: petite-caps !important;
    font-family: "Fira Sans" !important;
  }
}
