/* ABOUT:ADDONS */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"),
  url("about:addons") {
  /*Remove Dimming of inactive addons*/
  addon-card:not([expanded]) > .addon.card[active="false"] {
    opacity: 1 !important;
    transition: none !important;
  }

  /*Background of Addon Card*/
  .card,
  panel-list {
    background: #121212 !important;
    box-shadow: none !important;
  }

  /*Box-Shadow around selected addon-card*/
  addon-card:not([expanded]) > .addon.card:hover {
    box-shadow: var(--card-shadow-hover);
    cursor: pointer;
    --card-shadow-hover: 0 0 0 3px #303030 !important;
  }

  /*Addon Description*/
  .addon-description {
    font-size: 14px !important;
    line-height: 20px;
    color: var(--Dark_TextColor) !important;
    font-weight: 400;
    font-family: "Fira Sans" !important;
    margin-top: 10px !important;
  }

  /*Incompatible Addon Warning*/
  .content-blocking-category {
    border: 1px solid var(--in-content-box-border-color);
    background-color: #191919 !important;
  }

  /*Remove background colors from 'Recommended' and 'Allowed in Private Browsing' Icons*/
  .addon-badge-recommended {
    background-color: transparent !important;
    background-image: url("chrome://mozapps/skin/extensions/recommended.svg");
    border-radius: 0px !important;
  }

  .addon-badge-private-browsing-allowed {
    filter: grayscale(1) contrast(2) !important;
  }

  /*Scale Down Activate/Inactivate Addon Toggle, and change their background colors*/
  input[type="checkbox"].toggle-button,
  input[type="checkbox"].toggle-button:checked {
    transform: scale(0.75) !important;
  }

  input[type="checkbox"].toggle-button:checked {
    background: #37474f !important;
  }

  input[type="checkbox"].toggle-button {
    background: #4a148c !important;
    border-radius: 8px !important;
  }

  /*Tabs on top of a selected Addon's Page*/
  button.tab-button[selected],
  button.tab-button[selected]:hover {
    border-top-color: currentColor;
    color: var(--Dark_TextColor) !important;
  }

  /*Options Tab of a selected Addon*/
  #page-options > panel-list {
    font-family: Fira Sans !important;
  }

  #page-options > panel-list > panel-item {
    -moz-context-properties: fill;
    fill: currentColor;
    height: 22px !important;
  }

  .inline-options-stack {
    min-height: 0px !important;
    width: 100%;
    background-color: transparent !important;
  }
}

/* Makes addon manager show addons in 2-4 columns based on available width */
/* https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/multi_column_addons.css */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"),
  url("about:addons") {
  :root {
    overflow-x: hidden;
  }

  /* Remove this if it causes horizontal scrolling problems */

  @media (min-width: 720px) {
    #main {
      max-width: unset !important;
      padding-right: 28px;
    }

    addon-list > section,
    recommended-addon-list {
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-auto-columns: 1fr;
      column-gap: 1em;
    }
  }

  addon-card .card-contents {
    width: unset !important;
    white-space: initial !important;
  }

  .card-heading-image {
    max-width: calc(100% + 32px);
  }

  section > h2 {
    grid-area: hd;
  }

  addon-card {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    grid-area: auto;
  }

  /*Remove scrollbars from addon-description*/
  addon-card .addon-description {
    max-height: 3em;
    scrollbar-width: none !important;
  }

  @media (min-width: 1220px) {
    addon-list > section,
    recommended-addon-list {
      grid-template-areas: "hd hd hd" "cd cd cd";
    }
  }

  @media (min-width: 1720px) {
    addon-list > section,
    recommended-addon-list {
      grid-template-areas: "hd hd hd hd" "cd cd cd cd";
    }
  }
}

/* Show addon management buttons without opening popup */
/* https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/addon_manage_buttons_without_popup.css */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"),
  url("about:addons") {
  .addon-card-message {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .card.addon {
    padding-bottom: 0px !important;
  }

  addon-card .addon-card-collapsed {
    display: grid !important;
    grid-template-areas: "ic con" "op op";
    grid-template-columns: 48px auto;
  }

  addon-card .card-contents {
    width: initial !important;
    white-space: initial !important;
  }

  .more-options-menu {
    position: static !important;
    grid-area: op;
    margin: 0 !important;
  }

  .card-contents {
    grid-area: con;
  }

  .card-heading-icon {
    grid-area: ic;
  }

  plugin-options > panel-list,
  addon-options > panel-list {
    position: static !important;
    display: flex !important;
    padding: 0 !important;
    margin: 0px calc(0px - var(--card-padding)) !important;
    margin-top: 0px !important;
    margin-left: -50px !important;
    margin-bottom: 2px !important;
    backdrop-filter: none !important;
    /* Having a backdrop-filter leads to some unexpected layering issues */
    border: 0px !important;
    transform: scale(0.75) !important;
  }

  button[role="menuitem"] {
    padding-inline-start: 30px !important;
    background-position-x: 8px !important;
  }

  .arrow,
  .more-options-menu > .more-options-button,
  .addon-name-container > .more-options-button,
  panel-item[action="expand"] {
    display: none !important;
  }

  div.list {
    display: inherit !important;
    flex-direction: row !important;
  }

  panel-item[action="toggle-disabled"] {
    --icon: url("chrome://browser/skin/quit.svg");
  }

  panel-item[action="preferences"] {
    --icon: url("chrome://global/skin/icons/settings.svg");
  }

  /* Uncomment these if you want to hide button label - such as with compact_addons_manager */
  /* This is basically a requirement with compact_addons_manager.css because the button text causes the cards to overflow */

  button[role="menuitem"] > slot {
    display: none !important;
  }

  link + button[role="menuitem"] {
    position: static !important;
    height: 30px !important;
    min-width: 30px;
    padding-inline-end: 4px !important;
  }

  button[role="menuitem"] > label:not([accesskey]),
  link + button::after {
    display: none !important;
  }
}
