/*+++++ NEW TAB PAGE +++++*/

@-moz-document url("about:newtab"),
url("about:home") {
  .meta,
  .context-menu-list,
  .ds-image img,
  .ds-image .broken-image,
  .ds-card .img,
  .ds-card .img-wrapper {
    background: #181818 !important;
  }

  .collapsible-section.active {
    background: #000 !important;
  }

  .icon.icon-settings,
  .personalize-button,
  .collapsible-section.ds-layout .section-top-bar .learn-more-link a {
    display: none !important;
  }
}
