/*+++++ Page Info Dialog +++++*/

@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xhtml)
{
  #topBar {
    background: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
    border-bottom: 1px solid var(--Dark_BorderColor) !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
    font-variant-caps: petite-caps !important;
    padding: 10px !important;
  }

  #viewGroup > radio[selected="true"] {
    background-color: var(--Dark_BackgroundColor) !important;
    color: #64b5f6 !important;
  }

  #viewGroup > radio:hover {
    background-color: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
  }

  #viewGroup > radio {
    list-style-image: none !important;
    margin-top: -30px !important;
  }

  treechildren,
  treechildren::-moz-tree-row(even),
  treechildren::-moz-tree-row(odd) {
    background: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
  }

  tree {
    margin: 0.5em;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  treecols {
    padding: 5px !important;
    background: var(--Dark_BackgroundColor) !important;
    border-bottom: 1px solid var(--Dark_BorderColor) !important;
  }

  #meta-name,
  #meta-content,
  #image-address,
  #image-type,
  #image-size,
  #image-alt,
  #image-count,
  .treecol-image {
    background: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
    -moz-appearance: none !important;
  }

  #metatree,
  #imagetree {
    border: 1px solid var(--Dark_BorderColor) !important;
    -moz-appearance: none !important;
  }

  #theimagecontainer {
    background: var(--Dark_BackgroundColor) !important;
    border: 1px solid var(--Dark_BorderColor) !important;
  }

  #imagecontainerbox {
    margin: 0.5em;
    background: var(--Dark_BackgroundColor) !important;
    overflow: auto;
    border: 1px solid var(--Dark_BorderColor) !important;
  }

  #permList {
    background: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
    -moz-appearance: none !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  .permission {
    border-bottom: 1px solid var(--Dark_BorderColor) !important;
  }

  .permission:hover {
    background-color: var(--Dark_BackgroundColor) !important;
    color: var(--Dark_TextColor) !important;
  }
}
