/*+++++ Print Progress Dialog +++++*/

/*Older ( Before v87)*/

@-moz-document url("chrome://global/content/printProgress.xhtml")
{
  dialog {
    color: #fff !important;
    background: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }
}

/*New*/

@-moz-document url-prefix("chrome://global/content/print.html")
{
  body {
    color: #fff !important;
    background: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.2rem !important;
  }

  #printer-picker {
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  label,
  .label,
  #open-dialog-link {
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  html|button:enabled:hover,
  [multiple]:enabled:hover,
  html|input[type="color"]:hover,
  xul|button:not([disabled="true"]):hover,
  xul|menulist:not([disabled="true"]):hover {
    background-color: #000 !important;
  }

  html|select:not([size], [multiple]) {
    background-color: #000 !important;
    font-family: "Fira Sans" !important;
    font-size: 1.1rem !important;
  }

  html|a:hover,
  .text-link:hover {
    text-decoration: none !important;
  }

  #button-container > button {
    font-family: "Fira Sans" !important;
    border: 1px solid #212121 !important;
  }

  * {
    scrollbar-width: none !important;
    scrollbar-color: rgb(24, 24, 24) rgb(0, 0, 0) !important;
  }
}
