/*+++++ Sanitize Dialog (Opens on hitting clear recent history button) +++++*/

#SanitizeDialog {
  background: #000 !important;
  color: #fff !important;
  font-family: "Fira Sans" !important;
  font-size: 14px !important;
  margin: 15px !important;
}

#sanitizeDurationChoice {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #212121 !important;
  -moz-appearance: none !important;
  padding: 5px !important;
}
