/*+++++ Save File in (Downloads) Dialog +++++*/

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml")
{
  radio[focused="true"] > .radio-label-box {
    outline: 0px !important;
  }

  .radio-label-box {
    outline: 0px !important;
  }
}

dialog#unknownContentType {
  color: #fff !important;
  background-color: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#openHandler {
  -moz-appearance: none !important;
  color: #fff !important;
  background: #000 !important;
  font-family: "Fira Sans" !important;
  font-size: 1.1rem !important;
}

#openHandlerBox {
  background: #000 !important;
  border: 1px solid #212121 !important;
}

dialog#unknownContentType > #container > #normalBox > separator {
  display: none !important;
}

dialog#unknownContentType > #container > #normalBox {
  transform: scale(95%) !important;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

dialog#unknownContentType > #container > #normalBox > .header {
  display: none !important;
}

dialog#unknownContentType > #container > .small-indent {
  margin-top: 10px !important;
  font-size: 1.2rem !important;
}

dialog#unknownContentType > #container > #intro {
  display: none !important;
}

.radio-label-box {
  outline: 0px !important;
}

.tabmodalprompt-topContainer {
  background-color: #000 !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  font-family: "Fira Sans" !important;
}

.tabmodalprompt-buttonContainer {
  background-color: #000 !important;
  border-top: 0px !important;
}
